
<section class="showcase">
    <img src="img/tlogo.png" alt="">
    <p class="transp">VENTA Y SERVICIO: FABRICACIÓN DE RADIADORES MESABI, ENFRIADORES, CONDENSADORES A/A, INTERCOOLER, HAZ TUBULAR, ETC</p>
    
</section>


<div class="main-contenedor">
    <section class="contenido-header">
        <img src="img/int10.jpg" alt="">
        <section class="textos-header">
            <h1>Enfriadores y Condensadores</h1>
            <p>
                <i class="fa fa-check-circle-o" aria-hidden="true"></i> Se recomienda para refrigeración industrial cuando se necesita condensar un fluido refrigerante<br>
                <i class="fa fa-check-circle-o" aria-hidden="true"></i> Formado por tubos de superficie lisa que constantemente se humedecen con agua<br>
                <i class="fa fa-check-circle-o" aria-hidden="true"></i> Están en contacto con un flujo de aire en contracorriente lo que permite una condensación progresiva<br>
                <i class="fa fa-check-circle-o" aria-hidden="true"></i> Serpentín en AISI-304 o AISI-316 (para agua de pulverización corrosiva y/o ambiente agresivo, para circuitos semi-abiertos o para circuitos de refrigeración con agua desmineralizada)<br>
            </p>
     
        </section>
        
    </section>
</div>


<div class="main-contenedor">
    <section class="contenido-header">
        <section class="textos-header">
            <h1>Radiadores Mesabi</h1>
            <p>
                <i class="fa fa-check-circle-o" aria-hidden="true"></i> MESABI® está diseñado para minimizar el tiempo de inactividad y optimizar el rendimiento<br>
                <i class="fa fa-check-circle-o" aria-hidden="true"></i> Construidos con nuestros exclusivos tubos de enfriamiento individuales <br>
                <i class="fa fa-check-circle-o" aria-hidden="true"></i> Unión tubo-placa mediante sellos de goma flexibles <br>
                 <i class="fa fa-check-circle-o" aria-hidden="true"></i> Probados para funcionar incluso en las condiciones más duras <br>
                  <i class="fa fa-check-circle-o" aria-hidden="true"></i> Líderes en la industria en minería y en todas partes donde haya otros equipos de uso industrial <br>
            </p>
     
        </section>
        <img src="img/int11.jpg" alt="">
    </section>
</div>

<a href="https://api.whatsapp.com/send?phone=51990012243" class="btn-wsp" target="blank"><i class="fa fa-whatsapp"
        aria-hidden="true"></i>
</a>