
<section class="showcase">
    <p class="transp">Tu aliado estratégico para conseguir los resultados académicos que tanto deseas. Te ayudamos a mejorar tus calificaciones y sobre todo a comprender aquellos temas que tanto se te dificultan</p>
</section>


<div class="main-contenedor">
    <section class="contenido-header">
        <img src="img/about2.svg" alt="">
        <section class="textos-header">
            <h1>Simplicamos las tareas</h1>
            <p>
                <i class="fa fa-check-circle-o" aria-hidden="true"></i> Envíanos aquellos ejercicios que no entiendes<br>
                <i class="fa fa-check-circle-o" aria-hidden="true"></i> Te enviamos la solución lo mas rápido posible <br>
                <i class="fa fa-check-circle-o" aria-hidden="true"></i> Nuestros expertos verifican cada respuesta <br>
            </p>
     
        </section>
        
    </section>
</div>


<div class="main-contenedor">
    <section class="contenido-header">
        <section class="textos-header">
            <h1>Clases didácticas</h1>
            <p>
                <i class="fa fa-check-circle-o" aria-hidden="true"></i> Programa una clase virtual con nuestros expertos<br>
                <i class="fa fa-check-circle-o" aria-hidden="true"></i> Tu eliges el tema a desarrollar <br>
                <i class="fa fa-check-circle-o" aria-hidden="true"></i> Prepárate para esos examenes que están por venir <br>
            </p>
     
        </section>
        <img src="img/about1.svg" alt="">
    </section>
</div>

<a href="https://api.whatsapp.com/send?phone=51937875282" class="btn-wsp" target="blank"><i class="fa fa-whatsapp"
        aria-hidden="true"></i>
</a>