
<section class="showcase">
    <img src="" alt="">
  
    <p class="transp">SOMOS UNA EMPRESA DEDICADA A SATISFACER A NUESTROS CLIENTES, CON LA MEJOR CALIDAD DE INTERNET.</p>
    
</section>

<section class="results">
    <div class="contenedor-1 conten-results">
        <section class="numbers">
                <div class="number">
                    <h4>1</h4>
                    <p>MEJOR TECNOLOGÍA 100% fibra óptica</p>
                </div>
                <div class="number">
                    <h4>2</h4>
                    <p>MAYOR VELOCIDAD. Descarga y subida de archivos de gran tamaño en segundos</p>
                </div>
                <div class="number">
                    <h4>3</h4>
                    <p>MEJORES PLANES. Planes a medida de tus necesidades</p>
                </div>
                <div class="number">
                    <h4>4</h4>
                    <p>GRAN COBERTURA para llegar a los hogares de nuestros clientes brindando un gran servicio</p>
                </div>
        </section>
        <section class="results-text">
            <h4>SOLICITA NUESTROS SERVICIOS</h4>
            <p>Contamos con distintos medios de pago.</p>
            <a href="/Contact" >VER PLANES</a>
        </section>
    </div>
</section>

<a href="https://api.whatsapp.com/send?phone=51990012243" class="btn-wsp" target="blank"><i class="fa fa-whatsapp"
        aria-hidden="true"></i>
</a>