<section class="about-us">
    <div class="contenedor-1">
        <h2 class="titulo">Comunícate con nosotros:</h2>
        <div class="contenedor-articulo">
            <div class="articulo contactclass">
                <i class="fa fa-envelope-o" aria-hidden="true"></i>
                <h3>Via email</h3>
                <p>A la siguiente dirección de correo electrónico: ventas@tjingenieriatermica.com</p>
                {{!-- <a href="/notes"> Read more <i class="fa fa-angle-double-right" aria-hidden="true"></i></a> --}}
            </div>
            <div class="articulo contactclass" >
                <i class="fa fa-whatsapp" aria-hidden="true"></i>
                <h3>Vía whatsapp</h3>
                <p>Al siguiente número telefónico de contacto: +51 950988903</p>
                {{!-- <a href="#"> Read more <i class="fa fa-angle-double-right" aria-hidden="true"></i></a> --}}
            </div>
            <div class="articulo contactclass">
                <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
                <h3>Vía redes sociales</h3>
                <p>Encuentranos en Facebook como Ingenieria Termica</p>
                {{!-- <a href="#"> Read more <i class="fa fa-angle-double-right" aria-hidden="true"></i></a> --}}
            </div>
            
        </div>
    </div>
</section>


<a href="https://api.whatsapp.com/send?phone=51990012243" class="btn-wsp" target="blank"><i class="fa fa-whatsapp" aria-hidden="true"></i>
</a>
