{{!-- <div class="jumbotron mt-4">
    <h1 class="display-4">My Virtual School</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates eaque dicta itaque nostrum aliquid ipsam.</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius minima excepturi non, est recusandae vitae nostrum adipisci sint ea a.</p>
    <a href="https://youtube.com" class="btn btn-primary">Canal</a>
</div> --}}


<div class="main-contenedor main-contenedor1">
    <section class="contenido-header">
        <section class="textos-header textos-header1">
            <img class="logoresponsive"src="img/rlogo.png" alt="">
            <h1>Nuestra experiencia</h1>
            <p>Especialistas en fabricación, reparación y mantenimiento de Intercambiadores de calor. Lideres en el mercado en Radiadores industriales, enfriadores, calentadores</p>
            <a href="/notes/add" class="cardh">Tubos aletados</a> 
            
          <div class="box-promo"> 
             <h1>Condensadores</h1>
           </div>
            
            <div class="box-promo">
                 
                <h4>Enfriadores de aceite</h4>
               
            </div>
           
            
        </section>
        <img class="mainportada" src="img/tlogo.png" alt="">
    </section>
</div>

<section class="about-us">
    <div class="contenedor-1">
        <h2 class="titulo">Servicios que ofrecemos</h2>
        <div class="contenedor-articulo">
            <div class="articulo">
                <i class="fa fa-file-image-o" aria-hidden="true"></i>
                <h3>Intercambiad. de casco y tubo</h3>
                <p>Contamos con un equipo multidisciplinario en el área de diseño encargados de dar el soporte necesario para la fabricación de todo tipo de intercambiadores de calor</p>
                {{!-- <a href="/notes"> Read more <i class="fa fa-angle-double-right" aria-hidden="true"></i></a> --}}
            </div>
            <div class="articulo">
                <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
                <h3>Radiadores Industriales</h3>
                <p>Diseñados para calentar o enfriar, en donde uno de los fluidos es generalmente aire. Realizamos: Mantenimiento, Fabricación, Reparación</p>
                {{!-- <a href="#"> Read more <i class="fa fa-angle-double-right" aria-hidden="true"></i></a> --}}
            </div>
            <div class="articulo">
                <i class="fa fa-file-word-o" aria-hidden="true"></i>
                <h3>Intercooler</h3>
                <p>Este elemento es escencial en los motores dotados de turbocompresor, pues este calienta el aire que recibe para comprimirlo. Para evitar que ello produzca una bajada de rendimiento, entra en escena el intercooler.</p>
                {{!-- <a href="#"> Read more <i class="fa fa-angle-double-right" aria-hidden="true"></i></a> --}}
            </div>
            <div class="articulo">
                <i class="fa fa-file-archive-o" aria-hidden="true"></i>
                <h3>Enfriadores, Calentadores</h3>
                <p>Se utilizan para enfriar/calentar espacios, gases, fluidos o sustancias relacionadas o no con la producción. La funcion principal de un calentador industrial es promover el calentamiento de agua, lubricantes, fueloil y otras sustancias para fines industriales y no industriales.</p>
                {{!-- <a href="#"> Read more <i class="fa fa-angle-double-right" aria-hidden="true"></i></a> --}}
            </div>
            <div class="articulo">
                <i class="fa fa-address-card-o" aria-hidden="true"></i>
                <h3>Tubos aletados</h3>
                <p>Contamos con tubos a los que se les ha aumentado el área de transferencia con aletas radiales o longitudinales, ello con el proposito de aumentar la superficie extendida y mejorar sustancialmente su capacidad para transferir calor.</p>
                {{!-- <a href="#"> Read more <i class="fa fa-angle-double-right" aria-hidden="true"></i></a> --}}
            </div>
            <div class="articulo">
                <i class="fa fa-paper-plane-o" aria-hidden="true"></i>
                <h3>Recipientes a presión</h3>
                <p>Estos contenedores cerrados, cuidadosamente fabricados, diseñados para contener gases o liquidos a una presión significativamente diferente a la presión del aire circundante. Se utilizan para una variedad de propositos en el mercado industrial y el sector privado.</p>
                {{!-- <a href="#"> Read more <i class="fa fa-angle-double-right" aria-hidden="true"></i></a> --}}
            </div>
        </div>
    </div>
</section>

<section class="questions main-contenedor ">
        <section class="textos-questions">
            <h1>Fabricación de productos metalúrgicos</h1> 
            <p>Fabricamos y reparamos todo tipo de productos y piezas para la Industria como son, minería, pesca, construcción y alimentaria. Contamos con maquinaria que nos permite trabajar componentes de envergadura. Estamos comprometidos con esta corriente, en desarrollar maquinarias para suplir cualquier proceso productivo y de igual manera brindar asistencia inmediata para fabricación de piezas especiales de maquinaria sin importar fecha y hora </p>
            <a href="/users/signup" class="cardh">Registrate</a>
        </section>
        <img src="img/portada2.svg" alt="">
</section>

<section class="results">
    <div class="contenedor-1 conten-results">
        <section class="numbers">
                <div class="number">
                    <h4>+1068</h4>
                    <p>Contamos con un departamento de ingeniería presto para dar solución a las necesidades del mercado e industria</p>
                </div>
                <div class="number">
                    <h4>+237</h4>
                    <p>En TJ Ingeniería, apostamos por un servicio premium hacia nuestros cliente dando eficacia en la solución de sus problemas para acelerar su producción.</p>
                </div>
                <div class="number">
                    <h4>+853</h4>
                    <p>Nuestros almacenes cuentan con un stock de equipos criticos en Intercambio de Calor, para dar un reposición inmediata</p>
                </div>
                <div class="number">
                    <h4>+52</h4>
                    <p>Por muchos años venimos dan un soporte clave a las principales empresas de nuestra nutrida cartera de clientes, brindando solidez y confianza</p>
                </div>
        </section>
        <section class="results-text">
            <h4>SOLICITA NUESTROS SERVICIOS</h4>
            <p>Si necesitas dominar o entender un tema específico de alguna materia o quieres prepararte para ese examen que está muy cerca. Reserva tu curso aquí, indicanos los detalles del curso o la clase que deseas tomar y un tutor te ayudará</p>
            <a href="/cursos/add" >Contáctanos</a>
        </section>
    </div>
</section>

    <section class="contenedor-1 services">
     <img src="img/portada3.svg" alt="">
     <div class="box-skills">
         <h4 class="cardh"><i class="fa fa-check-circle-o" aria-hidden="true"></i> Inicia sesión</h4>
         <h4 class="cardh"><i class="fa fa-check-circle-o" aria-hidden="true"></i> Solicita un producto</h4>
         <h4 class="cardh"><i class="fa fa-check-circle-o" aria-hidden="true"></i> Prueba nuestros Servicios</h4>
         <h4 class="cardh"><i class="fa fa-check-circle-o" aria-hidden="true"></i> Consulta nuestros precios</h4>
         <h4 class="cardh"><i class="fa fa-check-circle-o" aria-hidden="true"></i> Ubícanos y contáctanos</h4>
     </div>
</section>

<div class="contenedor mx-auto">
  

        <div class="cardh">
            <figure>
                <img src="img/new3.jpeg" alt="Estadistica">
            </figure>
            <div class="contenido">
                <h3>Intercambiadores</h3>
                <p>Uno de los cursos mas solicitados por los estudiantes de colegio y de pregrado. Te será útil toda la vida, empieza ahora. </p>
                <a href="/cursos/add">Abrir curso</a>
            </div>
        </div>

        <div class="cardh">
            <figure>
                <img src="img/new2.jpeg" alt="Fisica">
            </figure>
            <div class="contenido">
                <h3>Radiadores</h3>
                <p>No necesitas dominar las leyes de la física para terminar tu tareas, lo hacemos por ti. Aquí en Woom </p>
                <a href="/cursos/add">Abrir curso</a>
            </div>
        </div>

        <div class="cardh">
            <figure>
                <img src="img/new8.jpg" alt="Quimica">
            </figure>
            <div class="contenido">
                <h3>Enfriadores</h3>
                <p>No tienes química con el colegio o la universidad, pues te ayudamos. Resuelve tus tareas o empieza un curso con nostros! Aquí en Woom </p>
                <a href="/cursos/add">Abrir curso</a>
            </div>
        </div>
        
    
    
</div>


<div class="wrapper">
    <div class="w-item">
        <img src="img/w1.svg" alt="">
        <div>
            <a href="/cursos/add">Matematica: Empezar</a>
        </div>
    </div>

    <div class="w-item">
        <img src="img/w2.svg" alt="">
        <div>
            <a href="/cursos/add">Física: Empezar</a>
        </div>
    </div>
     <div class="w-item">
        <img src="img/w3.svg" alt="">
        <div>
            <a href="/cursos/add">Química: Empezar</a>
        </div>
    </div>
     <div class="w-item">
        <img src="img/w4.svg" alt="">
        <div>
            <a href="/cursos/add">Lenguaje: Empezar</a>
        </div>
    </div>
     <div class="w-item">
        <img src="img/w5.svg" alt="">
        <div>
            <a href="/cursos/add">Ingeniería: Empezar</a>
        </div>
    </div>
     <div class="w-item">
        <img src="img/w6.svg" alt="">
        <div>
            <a href="/cursos/add">Informática: Empezar</a>
        </div>
    </div>
    
</div>


<a href="https://api.whatsapp.com/send?phone=51990012243" class="btn-wsp" target="blank"><i class="fa fa-whatsapp" aria-hidden="true"></i>
</a>



<section class="social">
    <p>Contáctanos</p>
        <div class="links">
            <a href="https://instagram.com/woom.ed?igshid=xvhfs71gdax2" target="_blank">
                <i class="fa fa-instagram" aria-hidden="true"></i>
            </a>
            <a href="https://www.facebook.com/WOOM-102955668330014/" target="_blank">
                <i class="fa fa-facebook-square" aria-hidden="true"></i>
            </a>
            
            
            <a href="https://www.youtube.com/channel/UCzVcdAhOEkNFu5GmRkwBz1w" target="_blank">
                <i class="fa fa-youtube" aria-hidden="true"></i>
            </a>
        </div>
</section>




