{{!-- <div class="jumbotron mt-4">
    <h1 class="display-4">My Virtual School</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates eaque dicta itaque nostrum aliquid ipsam.</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius minima excepturi non, est recusandae vitae nostrum adipisci sint ea a.</p>
    <a href="https://youtube.com" class="btn btn-primary">Canal</a>
</div> --}}


<div class="main-contenedor main-contenedor1">
    <section class="contenido-header">
        <section class="textos-header textos-header1">
            <img class="logoresponsive"src="img/rlogo.png" alt="">
            <h1>Acelera tu aprendizaje</h1>
            <p>Con Woom puedes tener tus tareas resueltas y entenderlas en tan solo minutos. Empieza ahora!</p>
            <a href="/notes/add" class="cardh">Subir tarea</a> 
            
          <div class="box-promo"> 
             <h1>50 % OFF</h1>
           </div>
            
            <div class="box-promo">
                 
                <h4>MES DE DICIEMBRE</h4>
               
            </div>
           
            
        </section>
        <img class="mainportada" src="img/portada.svg" alt="">
    </section>
</div>

<section class="about-us">
    <div class="contenedor-1">
        <h2 class="titulo">AL subir tu tarea</h2>
        <div class="contenedor-articulo">
            <div class="articulo">
                <i class="fa fa-file-image-o" aria-hidden="true"></i>
                <h3>Sube una imagen</h3>
                <p>Toma una foto de tu tarea y subela dentro de tu pizarra digital</p>
                {{!-- <a href="/notes"> Read more <i class="fa fa-angle-double-right" aria-hidden="true"></i></a> --}}
            </div>
            <div class="articulo">
                <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
                <h3>Sube un PDF</h3>
                <p>Si cuentas con más de una imagen puedes usar un archivo PDF para añadirlas a tu pizarra</p>
                {{!-- <a href="#"> Read more <i class="fa fa-angle-double-right" aria-hidden="true"></i></a> --}}
            </div>
            <div class="articulo">
                <i class="fa fa-file-word-o" aria-hidden="true"></i>
                <h3>Archivo Word</h3>
                <p>Los archivos en formato de Office Word también son soportados en Woom, si necesitas indicar mayores detalles o incluir datos adicionales usa este tipo de archivos</p>
                {{!-- <a href="#"> Read more <i class="fa fa-angle-double-right" aria-hidden="true"></i></a> --}}
            </div>
            <div class="articulo">
                <i class="fa fa-file-archive-o" aria-hidden="true"></i>
                <h3>Archivos RAR O Zip</h3>
                <p>Si tu tarea cuenta con diferentes formatos o muchos de un mismo formato te recomendamos comprimir tus archivos en formato RAR o ZIP antes de enviarlos</p>
                {{!-- <a href="#"> Read more <i class="fa fa-angle-double-right" aria-hidden="true"></i></a> --}}
            </div>
            <div class="articulo">
                <i class="fa fa-address-card-o" aria-hidden="true"></i>
                <h3>Privacidad</h3>
                <p>Tus datos y archivos son privados. Con tu sesión solo tu puedes editar, eliminar o añadir más tareas.</p>
                {{!-- <a href="#"> Read more <i class="fa fa-angle-double-right" aria-hidden="true"></i></a> --}}
            </div>
            <div class="articulo">
                <i class="fa fa-paper-plane-o" aria-hidden="true"></i>
                <h3>Envio de archivos</h3>
                <p>El envió de tu archivo es automático. La carga puede demorar unos minutos dependiendo del tamaño, una vez cargado tu archivo espera unos momentos, cuando esta termine de carga aparecerá en tu pizarra</p>
                {{!-- <a href="#"> Read more <i class="fa fa-angle-double-right" aria-hidden="true"></i></a> --}}
            </div>
        </div>
    </div>
</section>

<section class="questions main-contenedor ">
        <section class="textos-questions">
            <h1>Carga tu archivo y acuerda el pago</h1> 
            <p>Una vez hayas iniciado sesión en Woom, contarás con una pizarra digital ahí podras subir tu tarea y en breves minutos te contactará un tutor que te ayudará con ella</p>
            <a href="/users/signup" class="cardh">Registrate</a>
        </section>
        <img src="img/portada2.svg" alt="">
</section>

<section class="results">
    <div class="contenedor-1 conten-results">
        <section class="numbers">
                <div class="number">
                    <h4>+1068</h4>
                    <p>Quien no sufre con las Matemáticas, no te desesperes que existe una solución a cada uno de tus problemas. Son cada vez más los que lo hicieron con Woom</p>
                </div>
                <div class="number">
                    <h4>+237</h4>
                    <p>No tienes química con el colegio o la universidad, pues te ayudamos. Resuelve tus tareas o empieza un curso con nostros! Aquí en Woom.</p>
                </div>
                <div class="number">
                    <h4>+853</h4>
                    <p>No necesitas dominar las leyes de la física para terminar tu tareas, lo hacemos por ti. Ya son miles de tareas de Física resueltas en Woom</p>
                </div>
                <div class="number">
                    <h4>+52</h4>
                    <p>Hemos realizado preparaciones para exámenes, y sesiones de clases privadas o grupales. Solicita una clase</p>
                </div>
        </section>
        <section class="results-text">
            <h4>Apertura una clase o curso</h4>
            <p>Si necesitas dominar o entender un tema específico de alguna materia o quieres prepararte para ese examen que está muy cerca. Reserva tu curso aquí, indicanos los detalles del curso o la clase que deseas tomar y un tutor te ayudará</p>
            <a href="/cursos/add" >Abrir un curso</a>
        </section>
    </div>
</section>

    <section class="contenedor-1 services">
     <img src="img/portada3.svg" alt="">
     <div class="box-skills">
         <h4 class="cardh"><i class="fa fa-check-circle-o" aria-hidden="true"></i> Inicia sesión</h4>
         <h4 class="cardh"><i class="fa fa-check-circle-o" aria-hidden="true"></i> Sube tu tarea</h4>
         <h4 class="cardh"><i class="fa fa-check-circle-o" aria-hidden="true"></i> Confirma tu tutor</h4>
         <h4 class="cardh"><i class="fa fa-check-circle-o" aria-hidden="true"></i> Acuerda el pago</h4>
         <h4 class="cardh"><i class="fa fa-check-circle-o" aria-hidden="true"></i> Y Recibe tu tarea</h4>
     </div>
</section>

<div class="contenedor mx-auto">
  

        <div class="cardh">
            <figure>
                <img src="img/new3.jpeg" alt="Estadistica">
            </figure>
            <div class="contenido">
                <h3>Estadistica</h3>
                <p>Uno de los cursos mas solicitados por los estudiantes de colegio y de pregrado. Te será útil toda la vida, empieza ahora. </p>
                <a href="/cursos/add">Abrir curso</a>
            </div>
        </div>

        <div class="cardh">
            <figure>
                <img src="img/new2.jpeg" alt="Fisica">
            </figure>
            <div class="contenido">
                <h3>Fisica</h3>
                <p>No necesitas dominar las leyes de la física para terminar tu tareas, lo hacemos por ti. Aquí en Woom </p>
                <a href="/cursos/add">Abrir curso</a>
            </div>
        </div>

        <div class="cardh">
            <figure>
                <img src="img/new8.jpg" alt="Quimica">
            </figure>
            <div class="contenido">
                <h3>Química</h3>
                <p>No tienes química con el colegio o la universidad, pues te ayudamos. Resuelve tus tareas o empieza un curso con nostros! Aquí en Woom </p>
                <a href="/cursos/add">Abrir curso</a>
            </div>
        </div>
        
    
    
</div>


<div class="wrapper">
    <div class="w-item">
        <img src="img/w1.svg" alt="">
        <div>
            <a href="/cursos/add">Matematica: Empezar</a>
        </div>
    </div>

    <div class="w-item">
        <img src="img/w2.svg" alt="">
        <div>
            <a href="/cursos/add">Física: Empezar</a>
        </div>
    </div>
     <div class="w-item">
        <img src="img/w3.svg" alt="">
        <div>
            <a href="/cursos/add">Química: Empezar</a>
        </div>
    </div>
     <div class="w-item">
        <img src="img/w4.svg" alt="">
        <div>
            <a href="/cursos/add">Lenguaje: Empezar</a>
        </div>
    </div>
     <div class="w-item">
        <img src="img/w5.svg" alt="">
        <div>
            <a href="/cursos/add">Ingeniería: Empezar</a>
        </div>
    </div>
     <div class="w-item">
        <img src="img/w6.svg" alt="">
        <div>
            <a href="/cursos/add">Informática: Empezar</a>
        </div>
    </div>
    
</div>


<a href="https://api.whatsapp.com/send?phone=51990012243" class="btn-wsp" target="blank"><i class="fa fa-whatsapp" aria-hidden="true"></i>
</a>



<section class="social">
    <p>Contáctanos</p>
        <div class="links">
            <a href="https://instagram.com/woom.ed?igshid=xvhfs71gdax2" target="_blank">
                <i class="fa fa-instagram" aria-hidden="true"></i>
            </a>
            <a href="https://www.facebook.com/WOOM-102955668330014/" target="_blank">
                <i class="fa fa-facebook-square" aria-hidden="true"></i>
            </a>
            
            
            <a href="https://www.youtube.com/channel/UCzVcdAhOEkNFu5GmRkwBz1w" target="_blank">
                <i class="fa fa-youtube" aria-hidden="true"></i>
            </a>
        </div>
</section>




