{{!-- <div class="jumbotron mt-4">
    <h1 class="display-4">My Virtual School</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates eaque dicta itaque nostrum aliquid ipsam.</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius minima excepturi non, est recusandae vitae nostrum adipisci sint ea a.</p>
    <a href="https://youtube.com" class="btn btn-primary">Canal</a>
</div> --}}


<div class="main-contenedor ">
    
    </section>
        <img class="mainportada" src="img/js8.png" alt=""> 
         <p class="titulo1">Disfruta la mejor velocidad de internet para tu hogar</p>


          <section class="questions">
                <section class="textos-questions">
              <p >100% fibra optica</p>
               <a href="/contact" class="cardh">Contáctanos</a>       
                </section>


                <section class="contenido-header ">
                <img class="mainportada2" src="img/js10.png" alt=""> 


          </section>  
    
</div>

<section class="about-us">
    <div class="contenedor-1">

        <div class="contenedor-articulo">
            <div class="articulo">
                <i class="fa fa-rss" aria-hidden="true"></i>
                <h3>20 mb</h3>
                <p>Internet simétrico (misma velocidad de subida que de bajada.) Acceso ilimitado a Internet</p>
                {{!-- <a href="/notes"> Read more <i class="fa fa-angle-double-right" aria-hidden="true"></i></a> --}}
            </div>
            <div class="articulo">
                <i class="fa fa-rss" aria-hidden="true"></i>
                <h3>50 mb</h3>
                <p>Internet simétrico (misma velocidad de subida que de bajada.) Acceso ilimitado a Internet</p>
                {{!-- <a href="#"> Read more <i class="fa fa-angle-double-right" aria-hidden="true"></i></a> --}}
            </div>
            <div class="articulo">
                <i class="fa fa-rss" aria-hidden="true"></i>
                <h3>75 mb</h3>
                <p>Internet simétrico (misma velocidad de subida que de bajada.) Acceso ilimitado a Internet</p>
                {{!-- <a href="#"> Read more <i class="fa fa-angle-double-right" aria-hidden="true"></i></a> --}}
            </div>
            <div class="articulo">
                <i class="fa fa-rss" aria-hidden="true"></i>
                <h3>100 mb</h3>
                <p>Internet simétrico (misma velocidad de subida que de bajada.) Acceso ilimitado a Internet. Incluye 02 repetidores</p>
                {{!-- <a href="#"> Read more <i class="fa fa-angle-double-right" aria-hidden="true"></i></a> --}}
            </div>
            <div class="articulo">
                <i class="fa fa-rss" aria-hidden="true"></i>
                <h3>150 mb</h3>
                <p>Internet simétrico (misma velocidad de subida que de bajada.) Acceso ilimitado a Internet. Incluye 02 repetidores</p>
                {{!-- <a href="#"> Read more <i class="fa fa-angle-double-right" aria-hidden="true"></i></a> --}}
            </div>
            <div class="articulo">
                <i class="fa fa-rss" aria-hidden="true"></i>
                <h3>200 mb</h3>
                <p>Internet simétrico (misma velocidad de subida que de bajada.) Acceso ilimitado a Internet. Incluye 02 repetidores</p>
                {{!-- <a href="#"> Read more <i class="fa fa-angle-double-right" aria-hidden="true"></i></a> --}}
            </div>
        </div>
    </div>
</section>

<section class="results">
    <div class="contenedor-1 conten-results">
        <section class="numbers">
                <div class="number">
                    <h4>1</h4>
                    <p>MEJOR TECNOLOGÍA 100% fibra óptica</p>
                </div>
                <div class="number">
                    <h4>2</h4>
                    <p>MAYOR VELOCIDAD. Descarga y subida de archivos de gran tamaño en segundos</p>
                </div>
                <div class="number">
                    <h4>3</h4>
                    <p>MEJORES PLANES. Planes a medida de tus necesidades</p>
                </div>
                <div class="number">
                    <h4>4</h4>
                    <p>GRAN COBERTURA para llegar a los hogares de nuestros clientes brindando un gran servicio</p>
                </div>
        </section>
        <section class="results-text">
            <h4>SOLICITA NUESTROS SERVICIOS</h4>
            <p>Contamos con distintos medios de pago.</p>
            <a href="/Contact" >VER PLANES</a>
        </section>
    </div>
</section>

<div class="contenedor mx-auto">
  

        <div class="cardh">
            <figure>
                <img src="img/int.png" alt="Estadistica">
            </figure>
            <div class="contenido">
                <h3>Intercambiadores</h3>
                <p>Consta de una serie de tubos que se colocan en una carcaza cilíndrica, sujetos en cada extremo por láminas perforadas. Los fluidos circulan por el interior de los tubos y es dirigido por ductos o cadnuacletos.</p>
                <a href="/cursos/add">VER MAS</a>
            </div>
        </div>

        <div class="cardh">
            <figure>
                <img src="img/int8.jpg" alt="Fisica">
            </figure>
            <div class="contenido">
                <h3>Radiadores</h3>
                <p>equipos diseñados para calentar o enfriar, en donde uno de los fluidos es, generalmente, aire. Pero pueden existir otras variantes. Se utilizan frecuentemente en el secado de algún productos, calentamiento de aire a vapor, líneas de proceso o como ennfriadores de fluidos (aceite, hidrocarburos, agua, etc). </p>
                <a href="/cursos/add">VER MAS</a>
            </div>
        </div>

        <div class="cardh">
            <figure>
                <img src="img/int9.jpeg" alt="Quimica">
            </figure>
            <div class="contenido">
                <h3>Enfriadores</h3>
                <p>Los enfriadores, calentadores industriales se utilizan para enfriar/calentar espacios, gases, fluidos o sustancias relacionadas o no con la producción. La función principal de un calentador industrial es promover el calentamiento de agua, lubricantes, fueloil y otras sustancias para fines industriales o no industriales.</p>
                <a href="/cursos/add">VER MAS</a>
            </div>
        </div>
        
    
    
</div>


<div class="wrapper">
    <div class="w-item">
        <img src="img/w1.svg" alt="">
        <div>
            <a href="/cursos/add">Matematica: Empezar</a>
        </div>
    </div>

    <div class="w-item">
        <img src="img/w2.svg" alt="">
        <div>
            <a href="/cursos/add">Física: Empezar</a>
        </div>
    </div>
     <div class="w-item">
        <img src="img/w3.svg" alt="">
        <div>
            <a href="/cursos/add">Química: Empezar</a>
        </div>
    </div>
     <div class="w-item">
        <img src="img/w4.svg" alt="">
        <div>
            <a href="/cursos/add">Lenguaje: Empezar</a>
        </div>
    </div>
     <div class="w-item">
        <img src="img/w5.svg" alt="">
        <div>
            <a href="/cursos/add">Ingeniería: Empezar</a>
        </div>
    </div>
     <div class="w-item">
        <img src="img/w6.svg" alt="">
        <div>
            <a href="/cursos/add">Informática: Empezar</a>
        </div>
    </div>
    
</div>


<a href="https://api.whatsapp.com/send?phone=51949340656" class="btn-wsp" target="blank"><i class="fa fa-whatsapp" aria-hidden="true"></i>
</a>



<section class="social">
    <p>Contáctanos</p>
        <div class="links">
            <a href="https://www.facebook.com/IntercabiadoresDeCalor/?ref=page_internal" target="_blank">
                <i class="fa fa-instagram" aria-hidden="true"></i>
            </a>
            <a href="https://www.facebook.com/IntercabiadoresDeCalor/?ref=page_internal" target="_blank">
                <i class="fa fa-facebook-square" aria-hidden="true"></i>
            </a>
            
            
            <a href="https://www.facebook.com/IntercabiadoresDeCalor/?ref=page_internal" target="_blank">
                <i class="fa fa-youtube" aria-hidden="true"></i>
            </a>
        </div>
</section>




