body{
   background: #ffffff;
   overflow-x: hidden;
}



.red{
    color: red;
}
.temario{
    align-items: center ;
    text-align: center;
}

.temario a{
    margin: 28px 0 0 0;
    width: 150px;
    display: inline-block;
    background: #1fde82;
    text-align: center;
    color: #fff;
    padding: 12px 0;
    text-decoration: none;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 14px;
    border-radius: 5px;
    box-shadow: 0 8px 32px rgba(31, 222, 130,.46);
}

.temario a:hover{
    
    background: #fff;
 
    color: #1fde82;
    
    box-shadow: 0 8px 32px rgba(255, 255, 255, 0.46);
}

.responsiveInscriptions{
    display: none;
}

.signinicon{          
    color: #4930d6cc;
    font-size: 20px;
}

.inscriptionIcon{          
    color: #4930d6cc;
    font-size: 20px;
}

.contactclass{
transition: all 400ms ease;
}

.contactclass:hover{
  box-shadow: 5px 5px 20px rgba(0,0,0, 0.4);
  transform: translateY(-3%);
}

/**/

.logoresponsive{
    display: none;
}
.img-group{
    width: 60%;
}

.warnings{
    width: 200px;
    text-align: center;
    margin: auto;
    color: #b06ab3;
    padding-top: 20px;
}

.btn-wsp{
    position: fixed;
    width: 55px;
    height: 55px;
    line-height: 55px;
    bottom: 30px;
    right: 30px;
    background: #0df053;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
    z-index: 200;
}

.btn-wsp:hover{
    text-decoration: none;
    color: #0df053;
    background:transparent;
    border-radius: 0px;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.3);
}

.wrapper{
    display: none;
}

header::before{
    content: "";
    display: block;
    margin-bottom: 100px;
}

.webnav{
    
    height: 80px;
    width: 100%;
    background: #fff;
     border-bottom: 2px solid transparent;
     box-shadow: 2px 2px 10px 0 rgba(10, 14, 247, 0.932);
     position: fixed;
     top: 0;
     z-index: 100;
     /*transition: ease-in-out 0.5s;*/
     display: inline-flex;
     justify-content: space-around;
     flex-direction: row;
   
     

}

.navizq{
 width: 200px;
  
    justify-content: left;

    
}
.navmed{
    
    justify-content: right;
}
.navder{
    transform: translateX(30px);
    gap: 0 5px
}

.enlaces-header{
   font-weight: 300;
}

.enlaces-header a{
    margin-left: 20px;
}


.claselogo {
    width: 78px;
    vertical-align: top; 
    opacity: 0.9;
}

.claselogo:hover {
   
    opacity: 1;
    width: 80px;
   
}

.claselogo2 {
    width: 50%;
    align-items: center;
    text-align: center;
}

h1, h2{
    text-transform: lowercase;
}
h1::first-letter,
h2::first-letter{
    text-transform: uppercase;
}

h1, h2, h3, h4, h5, h6{
    color: #1d273b;
    font-weight: 300;

}

.main-contenedor{
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

.contenedor-1{
    width: 100%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
    padding: 60Px 40px;
}



h1{
    font-size: 50px;
}

.contenido-header{
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.signuptranslate{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.successtranslate{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contenido-header>img{
    width: 550px;
    animation: ease-in animat 1.5s;
    
}

@keyframes animat{
    0%{
        transform: scale(0);
    }100%{
        transform: scale(1);
    }
}

.textos-header{
    margin: 0 0 0 30px;
}

.textos-header1{
    transform: translateY(20px);
}

.contenido-header p{
    font-weight: 100;
    margin-top: 14px;
    color: #5d6678;
}

.contenido-header a{
    margin: 28px 0 0 0;
    width: 130px;
    display: inline-block;
    background: #1fde82;
    text-align: center;
    color: #fff;
    padding: 12px 0;
    text-decoration: none;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 14px;
    border-radius: 5px;
    box-shadow: 0 8px 32px rgba(31, 222, 130,.46);
}

.inscriptionlink a{
    margin: none;
    text-decoration: none;
    box-shadow: none;
    border-radius: none;
    background: none;
    color: rgb(86, 89, 230);
    width: fit-content;
    padding: 0 0;
    font-weight: none;

}

.inscriptionlink p{
    font-weight: none;
    margin-top: none;
    
}

.box-promo{
    margin: 20px 0 0 0;
    
   width: 70%;

    align-items: center;
    text-align: center;
    background: transparent;
}

.box-promo h4{
    padding-top: 10px;
   padding-bottom: 10px;
    font-size: 20px;
    color: white;
    width: fit-content;
    transition: all 400ms ease;
    background: rgb(86, 89, 230);
    overflow: hidden;
      box-shadow: 0px 1px 10px rgba(0,0,0, 0.2);
      z-index: 5;

}
.box-promo h4:hover{
box-shadow: 5px 5px 20px rgba(0,0,0, 0.4);
    transform: translateY(-3%);

}

.box-promo h1{
    width: fit-content;
    font-size: 50PX;
    color:white;
    transform: rotate(-10deg);
    animation: ease-in animat 1.5s;

    z-index: 10;
    background-color: rgb(238, 236, 149);
    
}




.titulo{
    font-size: 50px;
}

.about-us{
    background: #f2f2f2;
}

.contenedor-articulo{
    display: flex;
    flex-wrap: wrap;
    margin-top: 60px;
    justify-content: space-around;
}

.articulo{
    width: 29%;
    background: #fff;
    margin-bottom: 30px;
    border-radius: 10px;
    padding: 45px 30px 60px 30px;
    transition: 0.5s;
    transition: all 400ms ease;
}
    

.articulo:hover{
    box-shadow: 5px 5px 20px rgba(0,0,0, 0.4);
      transform: translateY(-3%);
}

.articulo>i{
    font-size: 30px;
    color: #fff;
    background: #073dcfdc;
    display: inline-block;
    width: 70px;
    height: 70px;
    text-align: center;
    padding-top: 20px;
    border-radius: 50%;
    box-shadow: 0 5px 10px rgba(122, 227, 235, 0.671);
}

.articulo>h3{
    font-size: 24px;
    margin-top: 30px;
}

.articulo>p{
    font-weight: 100;
    color: #5d6678;
    margin-top: 15px;
    padding-bottom: 20px;
}

.articulo>a{
    color: #5D6678;
    font-weight: 400;
    text-decoration: none;
}

.articulo>a:hover{
    color: #1fde82;
    transition: color .5s;
}

/* questions*/

.questions{
   
    height: 600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.questions>img{
    width: 550px;
   
    
}

.textos-questions{
    margin: 0 0 0 30px;
}

.textos-questions p{
    font-weight: 100;
    margin-top: 14px;
    color: #5d6678;
}

.textos-questions a{
    margin: 28px 0 0 0;
    width: 130px;
    display: inline-block;
    background: #1fde82;
    text-align: center;
    color: #fff;
    padding: 12px 0;
    text-decoration: none;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 14px;
    border-radius: 5px;
    box-shadow: 0 8px 32px rgba(31, 222, 130,.46);
}

.textos-inscription a{
    margin: 28px 0 0 0;
    height: 35px;
    width: 120px;
    display: inline-block;
    background: #416fd3;
    text-align: center;
    color: #fff;
    padding: 10px;
    text-decoration: none;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 14px;
    border-radius: 5px;
    box-shadow: 0 8px 32px rgba(102, 161, 209, 0.46);
}

.textos-inscription a:hover{
    color: rgba(22, 196, 240, 0.61);
    box-shadow: 0 8px 32px rgba(255, 255, 255, 0.46);
}
.altura{
    height: 200px;
}
/**/

.results{
    background: #2570ff;
    padding-top: 30px;
}

.conten-results{
    display: flex;
    justify-content: space-evenly;

}

.numbers{
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.numbers .number{
    width: 45%;
    background: rgba(255,255,255,.2);
    color: #fff;
    border-radius: 10px;
    padding: 40px 35px;
    margin-bottom: 20px;
}

.numbers .number h4{
    color: #fff;
    font-size: 50px;
    font-weight: 500;
    margin-bottom: 20px;
}

.numbers .number p{
    color: #f2f5fc;
    font-weight: 300;
}

.results-text{
    width: 37%;
}

.results-text h4{
    color: #fff;
    font-size: 40px;
}

.results-text p{
    color: #fff;
    font-weight: 300;
    margin: 20px 0;
}

.results-text>a{
    color: #fff;
    text-decoration: none;
    display: inline-block;
    border: 1px solid #fff;
    padding: 10px 0;
    width: 120px;
    text-align: center;
    border-radius: 5px;
}

.results-text>a:hover{
    color: rgb(226, 247, 132);
    transition: color .5s;
}

/**/

/*services*/

.services{
    display: flex;
    justify-content: space-between;
}

.services>img{
    width: 500px;
    height: 450px;
}

.box-skills{
    margin: 30px 30px 0 0;
}

.box-skills h4{
    font-size: 24px;
    background: #f2f2f2;
    width: 350px;
    border-radius: 6px;
    padding: 10px 0 10px 15px;
    margin-bottom: 10px;
}

.box-skills i{
    color: #1fde82;
    font-size: 20px;
}
/**/

.store{
    background:  rgba(255, 255, 255, 0.74);
    padding-top: 40px;
  
}


.store>h4{
    color: black;
    font-size: 20px;
    padding-left: 40px;
}

.store>p{
    color: rgba(70, 69, 69, 0.774);
    font-size: 15px;
    padding-left: 40px;
}
.main-carrito{

   transform: translateY(-20%);
}

.conten-store{

    display: flex;
    padding-top: 15px;
    justify-content: space-evenly;

}

.productos{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.productos .producto{
    width: 30%;
    background:#2570ff;
    color: #fff;
    border-radius: 10px;
    padding: 30px 30px;
    margin-bottom: 30px;
}
.productos .avproducto{
    width: 30%;
    background: royalblue;
    color: #fff;
    border-radius: 10px;
    padding: 30px 30px;
    margin-bottom: 30px;
}

.productos .producto h4{
    color: #fff;
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 10px;
}

.productos .producto p{
    color: #f2f5fc;
    font-weight: 300;
}
.productos .producto a{
    color: #f2f5fc;
    font-size: 15px;
    text-decoration: none;
    text-transform: inherit;
}
.store-text{
   
    text-align: center;
    align-items: center;
    justify-content: center;
    
}

.store-text h4{
    
    color: black;
    font-size: 40px;
}

.store-text p{
    color: rgba(70, 69, 69, 0.774);
    font-size: 30px;
    font-weight: 300;

}

.store-text>a{
    color: #2570ff;
    text-decoration: none;
    display: inline-block;
    border: 1px solid #2570ff;
    padding: 10px 0;
    width: 120px;
    text-align: center;
    border-radius: 5px;
}

.store-text>a:hover{
    color: rgb(255, 255, 255);
    background-color: #2570ff;
    transition: color .5s;
}

/**/



/**/
.btnnew:hover{
    opacity: 0.7;
}

.nav-main{
    display: none;
    z-index: 3;
}
.logo{
    width: 20%;
}




.userSignin{

    font-size: 18px;
    text-transform: capitalize;
}



.userSignin:hover{
    color: rgba(209, 228, 99, 0.76);
    
}

.fondo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 330px;
    transform: translate(10%,-10%);
}
.fondoMR{
 
    width: 80%;
    height: 300px;
    background-color: transparent;
    background: url('../img/fondo.png') no-repeat center center/cover;
    

}

.fondoAV{
  
    width: 80%;
    height: 300px;
    background-color: transparent;
    background: url('../img/robotica.png') no-repeat center center/cover;
 
}

.avpage{

    background-color:lightblue;
    transform: translateY(-1%);
}

.avtexto h4{
    color: royalblue;
}

.fondoNewCurso{

display: none;
justify-content: space-between;
align-items: center;
    width: 69%;
    height: 46px;
    background-color: transparent;
    
}

.fondoPicc{
    display: none;
    width: 80%;
    height: 300px;
    background-color: transparent;
    background: url('../img/pic.png') no-repeat center center/cover;
}

.fondoAutocad{
    display: none;
    width: 80%;
    height: 300px;
    background-color: transparent;
    background: url('../img/autocad.png') no-repeat center center/cover;
  
}

.fondoInventor{
    display: none;
    width: 80%;
    height: 300px;
    background-color: transparent;
    background: url('../img/inventor.png') no-repeat center center/cover;
    
}

.fondoLabview{
    display: none;
    width: 80%;
    height: 300px;
    background-color: transparent;
    background: url('../img/labview.png') no-repeat center center/cover;
}

.fondoMatlab{
    display: none;
    width: 80%;
    height: 300px;
    background-color: transparent;
    background: url('../img/matlab.png') no-repeat center center/cover;

}

.fondoPlant3d{
    display: none;
    width: 80%;
    height: 300px;
    background-color: transparent;
    background: url('../img/plan3d.png') no-repeat center center/cover;

}

.fondoSolidworks{
    display: none;
    width: 80%;
    height: 300px;
    background-color: transparent;
    background: url('../img/solidworks.png') no-repeat center center/cover;
 
}

.fondoTekla{
    display: none;
    width: 80%;
    height: 300px;
    background-color: transparent;
    background: url('../img/tekla.png') no-repeat center center/cover;
  
}

.fondoTiaportal{
    display: none;
    width: 80%;
    height: 300px;
    background-color: transparent;
    background: url('../img/tiaportal.png') no-repeat center center/cover;
 
}

.fondoArduino{
    display: none;
    width: 80%;
    height: 300px;
    background-color: transparent;
    background: url('../img/arduino.png') no-repeat center center/cover;
 
}

.fondoRobotica{
    display: none;
    width: 80%;
    height: 300px;
    background-color: transparent;
    background: url('../img/robotica.png') no-repeat center center/cover;
 
}



.mfondo2{
    display: flex;


    justify-content: center;
    align-items: center;
    text-align: center;

}

.fondo2{
  

    width: 25%;
    height: 60px;
    background: url('../img/logomr.png') no-repeat center center/cover;
    

}

.av1 a{
    color: black;
    background-color: white;
    text-decoration: none;
}

.av2 a{
    
    
    color: moccasin;
    
    background-color: rgb(77, 168, 168);
    text-decoration: none;
}



.av2 a:hover{
    
    color: white;
}



/* showcase*/

.showcase{
    width: 100%;
    height: 260px;
    background-color: transparent;
    background: url('../img/about.png') no-repeat center center/cover;
    padding-bottom: 50px;
    margin-top: 0px;

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: flex-end;
    color: rgb(0, 0, 0);
    font-size: 20px;
    
}

.transp{
    background-color: rgba(19, 22, 202, 0.7);

  }

  .showcase p {
      margin-bottom: -50px;
      padding: 0 20px;
      color: #fff;
      text-decoration: none;
  }

  .contenedor {
      width: 100%;
      display: flex;
      max-width: 1100px;
  }

  
            /**/
            .signupcardh{
                width: 100%;
                margin: 5px;
                border-radius: 6px;
                overflow: hidden;
                background: #fff;
                box-shadow: 0px 1px 10px rgba(0,0,0, 0.2);
                cursor: default;
               
            }

            .signupcardh:hover{
            box-shadow: 5px 5px 20px rgba(0,0,0, 0.4);
        
            }

            /**/

  .cardh{
      width: 100%;
      margin: 20px;
      border-radius: 6px;
      overflow: hidden;
      background: #fff;
      box-shadow: 0px 1px 10px rgba(0,0,0, 0.2);
      cursor: default;
      transition: all 400ms ease;
  }

  .cardh:hover{
    box-shadow: 5px 5px 20px rgba(0,0,0, 0.4);
    transform: translateY(-3%);
  }

  .cardh img{
      width: 100%;
      height: 210px;
  }

  .cardh .contenido{
      padding: 15px;
      text-align: center;
  }

  .cardh .contenido p{
      line-height: 1.5;
      color: #6a6a6a;
  }

  .cardh .contenido h3{
      font-weight: 400;
      margin-bottom: 15px;
  }

  .cardh .contenido a{
      text-decoration: none;
      display: inline-block;
      padding: 10px;
      margin-top: 10px;
      color: #2fb4cc;
      border: 1px solid #2fb4cc;
      transition: all 400ms ease;
  }
  .cardh .contenido a:hover{
    background: #2fb4cc;
    color: #fff;
    }

    /* contactanos */

    .social {
        margin: 50px;
    }

    .social p{
        text-align: center;
        font-size: 30px;
        margin-bottom: 20px;
    }

    .links a i{
        transition: all ease-in-out .3s;
    }

    .links a i:hover{
        color: #2fb4cc;
        background-color: #fff ;
        border-radius: 10%;
    }

    .linksMR a i{
        transition: all ease-in-out .3s;
    }

    .linksMR a i:hover{
        color: #4930d6cc;
        background-color: #fff ;
        border-radius: 10%;
    }

    .fa-css {
        padding: 15px;
        font-size: 18px;
        width: 100%;
        text-align: center;
        text-decoration: none;
      }
      
      /* Add a hover effect if you want */
      .fa-css:hover {
        opacity: 0.7;
        
      }
      
      /* Set a specific color for each brand */
      
      /* Facebook */
      .fa-facebook {
        background: #3B5998;
        color: white;
      }


    .links{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .links a {
        margin: 0 30px;
    }

    .links a i {
        font-size: 3rem;
    }

    .linksMR{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .linksMR a {
        margin: 0 30px;
    }

    .linksMR a i {
        font-size: 3rem;
    }

    /* footer links*/

    .footer-links {
        
        background: #2f3640;
        color: #616161;
        font-size: 12px;
        padding: 15px 0;
    }

    .footer-container{
        
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 10px;
        align-items: flex-start;
        justify-content: space-evenly;
        margin: 0;
    }

    .footer-container ul{
        margin: 0 auto;

    }

 

    .footer-container ul li{
        list-style: none;
        line-height: 2;
        
    }

    .footer-container ul li a{
        color: white;
        text-decoration: none;
        transition: color .3s ease-in-out;
    
    }

    .footer-container ul li a:hover{
        color: #2fb4cc;
    
    }

    .footer-container ul a{
        color: white;
        text-decoration: none;
    
    }

    .footer-container h3{
        color: white;
   
    }

    .footer{
        background: #2f3640;
        color: #616161;
        font-size: 16px;
        padding: 5px 0;
        text-align: center;
        padding-bottom: 5px;
    }

    .texto-beneficio {
       
        text-align: center;
        border-left-color: #0ff;
        border-left-style: solid;
        border-left-width: 2px; /* Cambiando este valor, puedes cambiar el ancho del borde */
        padding-right: 12px; /* Con este padding, puedes separar el texto del borde */
        
    }

    .texto-mail a{
        color: white;
        font-size: 20px;
        text-align: left;
     
    }

    .menu-btn{
        display: none;        
    }

    .loading{
        font-size: 15px;
        font-weight: bold;
    }

    .loading:hover{
        font-size: 18px;
        font-weight: bold;
    }



    /**/

    .cssPassword>a{
        margin: 0 0 0 0;
        width: fit-content;
        display: inline-block;
        background:transparent;
        text-align: left;
        color: #616161;
        padding: 0 0;
        text-decoration: none;
        font-weight: 400;
        text-transform: inherit;
        font-size: 14px;
        border-radius: none;
        box-shadow: none;
    };

  
/**/


.contenedor_loader{
    background-color: #fffbfbef;
    
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 9999;
    transition: all 1.5s;
    display: flex;
    align-items: center;
    justify-content: center;
    top: -50px;
    left: -50px;
}
.loader,
.loader::before,
.loader::after{
    border-radius: 50%;
    width: 2.5em;
    height: 2.5em;
    animation: Loader 1.5s infinite ease-in-out;
}

.loader{
    color: #4685fa;
    font-size: 13px;
    position: relative;
    animation-delay: -0.16s;
}

.loader::before,
.loader::after {
    content: '';
    position: absolute;
    top: 0;
}

.loader::before{
    left: -3.5em;
    animation-delay: -0.32s;
}

.loader::after{
    left: 3.5em;
}


@keyframes Loader{
    0%,
    80%,
    100%{
        box-shadow: 0 2.5em 0 -1.3em;
    }
    40%{
        box-shadow: 0 2.5em 0 0;
    };

   
}

   


    @media (max-width: 1000px) {

     
        .mainportada{
            display: none;
        }
       
        .fondo{
            width: 100%;
            height: 120px;
            transform: translate(10%,85%);
        }

        .fondoSolidworks{           
            height: 180px;
        }
        
        .fondoLabview{
            height: 180px;
        }

        .fondoAutocad{
            height: 180px;
        }

        .titulo{
            font-size: 45px;
        }

        .contenido-header{
            flex-direction: column;
            justify-content: space-evenly;
            height: 720px;
        }

        .contenido-header>img{
            width: 400px;
        }

        .textos-header{
            padding-top: 20px;
            margin: 5px;
        }

        /*about us*/
        .articulo{
            width: 45%;
        }

        /*questions */
        .questions{
            height: 720px;
            justify-content: space-evenly;
            flex-direction: column;
        }

        .questions>img{
            width: 400px;
        }

        /*results*/
        .conten-results{
            flex-direction: column-reverse;
        }

        .results-text>a{
            margin-bottom: 60px;
        }

        .numbers{
            width: 100%;
            
        }

        .results-text{
            width: 100%;
        }



        /* services */
        .services{
            flex-direction: column-reverse;
            align-items: center;
        }


        .box-skills{
            margin: 0 0 40px 0;
            
        }

       
        .services>img{
            width: 400px;
        }


/**/
        .conten-store{
            flex-direction: column-reverse;
        }

 

        .productos{
            width: 100%;
            
        }

    
/**/





        .webnav{
            display: none;
        }


        /** v1 **/
        .showcase{
                       
            font-size: 15px;
            
        }
        .showcase h2{
           
            font-size: 18px;
            
        }
        .menu-btn{
            display: block;
            position: absolute;
            cursor: pointer;
            top: 20px;
            right: 20px;
            z-index: 1;
            
        }
        .nav-main{
            display: flex;
            position: absolute;
            top: 0;
            left: 0;
            
            width: 200px;
            opacity: 0.95;
            transform: translateX(-210px);
            transition: all 0.5s ease-in-out;
            z-index: 2;
            align-items: top;
            flex-direction: column;
            justify-content: space-evenly;
           }

        .nav-main.show{
            transform: translateX(-40px);
            
           
        }
        .nav-main2{
            height: 100vh;
           
           
        }

        .nav-main3{
            transform: translateY(50px);
            transform: translateX(-30px);
            
        }
      
        .footer-links .footer-container{
            grid-template-columns: repeat(2, 1fr );
        }

         
             
        .claselogo {
            padding: 5px;

            width: 30%;
            padding: 10px;
        }
        .curso-info{
            transform: translateY(20%);
        }
        .textos-header1{
            transform: translateY(-50px);
        }
    }

    @media (max-width: 600px){

        /**/
        .responsiveInscriptions{
           display: block;
           height:  100%;
           width: 100%;
            transform: translateY(-15%);
 
        }
        .responsiveInscriptions h3{
            color: white;
          background-color: rgba(65, 105, 225, 0.733);
            padding: 20px;
            margin: 10px;
            width: 80%;
            border-radius: 1em;
            box-shadow: 0 8px 32px rgba(31, 82, 222, 0.46);
            transform: translateY(-10%);
        }

        .responsiveInscriptions ul a{
        margin-top: 8px;
            padding: 5px;
            text-decoration: none;
            background-color: rgba(158, 158, 158, 0.11);
            color: black;
            border: 2px solid black;
            border-radius: 1em;
            
            
        }

        .responsiveInscriptions ul i{
            
             
                color: black;
                font-size: 20px;
                
                
            }

        .cursoform{
            transform: translateY(-20%);
        }

        .curso-info{
            transform: translateY(0%);
        }

        .titulo{
            font-size: 35px;
        }

        h1{
            font-size: 40px;
        }

        .contenido-header{
            height: 650px;
        }

        .webnav{
            padding: 0 10px;
        }

        .contenido-header>img{
            width: 350px;
        }

        /* about us*/
        .articulo{
            width: 95%;
        }

        /*questions*/

        .questions>img{
            width: 300px;
        }

        /* results*/
        .numbers .number{
            width: 95%;
        }

        .results-text h4{
            font-size: 35px;
        }
        
        /* services */

        .services>img{
            width: 350px;
            height: 250px;
        }

        .box-skills h4{
            width: 100%;
            font-size: 22px;
            padding: 0 5px;
        }

/**/

        .productos .producto{
            width: 95%;
        }
/**/

        /**/
        .showcase{
            width: 100%;
            height: 450px;
            
            padding: 20px;
            margin-bottom: 10px;
            
            font-size: 13px;
            
        }
        .showcase h2{
           
            font-size: 15px;
            margin-bottom: 30px;
            
        }

        .showcase p{
           
            font-size: 15px;
            margin-bottom: 15px;
            
        }
        .news-cards{
            grid-template-columns: 1fr;
        }

        .news-cards img{
            height: 270px;
        }
        .news-cards2 {
            grid-template-columns: 1fr;
        }

        .news-cards2 img{
            height: 270px;
        }

        .cards-banner-one .content{
            width: 100%;
            padding: 40px 20px 0px 0;
      
        }
        .cards-banner-one h2
        {
            size: 5px;
            font-size: 16px;
            
            padding: 100px 0 0 20px;
        }

        .footer-links .footer-container{
            grid-template-columns: 1fr;
            align-items: center;
            text-align: center;
            gap: 20px;
            transform: translateX(-35px);
        }
        .buscador{ 
                 
           display: none;       
        }

        .nav3{
            transform: translateX(50px);
        }
        
        

        .claselogo {
            margin-top: 10px;
            width: 50%;
            padding: 10px;
        }

        .responsive-singin{
            
            transform: translateY(50px);
            transform: translateX(-65px);
        }

        .responsive-singup{
            
            transform: translateY(50px);
            transform: translateX(-65px);
        }

        .contenedor {

            display: none;
        }

        .wrapper{
            margin: auto;
             border: 2px solid #fff;
             display: flex; 
             align-items: center;  
             overflow-x: auto;
           
         
         }
         
         .wrapper::-webkit-scrollbar{
             width:0;
         }
         
         .wrapper .w-item{
             
             min-width: 180px;
             height: 180px;
             line-height: 110px;
             text-align: center;
            
             background-color: rgba(247, 238, 121, 0.849);
             
             margin-bottom: 22px;
             margin-right: 5px;
         
             
         }
         
         
         .wrapper .w-item>img{
             width: 180px;
             height: 120px;
             transform: translateY(10px);
             
             
         }
         
         .wrapper .w-item>div{  
          
          height: 30px;
          transform: translateY(-30px);
         
         }
         
         
         .wrapper .w-item div a{  
             
          text-decoration: none;
          font-size: 13px;
            color: rgb(252, 252, 252);
           
            background-color: rgb(126, 108, 224);
            
         }
         
        .texto-beneficio {
        
            text-align: center;
            border-left-color: #0ff;
            border-left-style: none;
            
        }

        .textos-header1{
            transform: translateY(-230px);
        }

        .logoresponsive{
            display: inline-block;
            width: 50%;
        }
        
        .mainportada{
           
            height: 0px;
        }
        .main-contenedor1{
            height: 500px;
            
        }

        .services>img{
            display: none;
        }

        .showcase{
            transform: translateY(-80px);
            height: 400px;
        }

        .siginform{
            width: 90%;
            transform: translate(0, -80%);
        }

        .signupform{
            width: 90%;

            transform: translateY(-40%);
        }
        
        .cursoform{
            width: 90%;
        }

        .signintranslate{
            transform: translateY(50px);
        }

        .signinContenedor{
           
            transform: translateY(-10%);
        }
        
        .signupHeader{
         
            transform: translateY(50px);
        }
        .successtranslate{
            transform: translateY(15px);
            height: 200px;
        }
        .fondo, .fondo2, .iconosCursos{
            display: none;
        }

        .fondoMR{
            display: block;
            height: 100px;
            width: 100%;
            transform: translateY(-50%);
        }
        .advices{
            transform: translateY(-30%);
        }

        .fondoNewCurso{

display: block;
       width: 270px;
    height: 60px;
    padding: 10px 0;
            background: url('../img/rlogo.png') no-repeat center center/cover;

        }

        .main-contenedor{
            height: 680px;
            }

        .signupContenedor{
            height: 1000px  ;
            transform: translateY(-7%);
        }

        .contenido-header{
            height: 1800px;
            transform: translateY(-20%);
            }

            .box-promo h1{
                
                
                padding-bottom: 5px;
                transform: translateY(0%);
                
            }


            .inscriptionVolver{
                padding: 0 10px;
                transform: translateY(-5%);
                height: 80%;
            }
            

           
    }