<div class="footer-links">
    <div class="footer-container">
        <ul>
            <ul>
                <a href="#">
                    <h3 style="font-size: 18px;">Nosotros</h3>
                </a>
            </ul>
                <ul> 
                    <li>
                        <a href="/contact">Contáctanos</a>
                    </li>
                </ul>
                <ul>
                    <li>
                        <a href="/about">Acerca de nosotros</a>
                    </li>
                </ul>
                <ul>
                    <li>
                        <a href="#">Terminos y condiciones</a>
                    </li>
                </ul>
                <ul>
                    <li>
                        <a href="#">Mapa del sitio</a>
                    </li>
                </ul>
        </ul>
                

        <ul>
                <ul>
                    <a href="#">
                        <h3 style="font-size: 18px;">Preguntas Frecuentes</h3>
                    </a>
                </ul>
                <ul>
                    <li>
                        <a href="/users/payment">Mis compras</a>
                    </li>
                </ul>
                <ul>
                    <li>
                        <a href="#">Suscribirme</a>
                    </li>
                </ul>
                <ul>
                    <li>
                        <a href="#">Preguntas frecuentes</a>
                    </li>
                </ul>
                <ul>
                    <li>
                        <a href="#">Politica de privacidad</a>
                    </li>
                </ul>
        </ul>
        <ul>
            <ul >
                <div class="texto-beneficio p-2">
                        <h3 style="font-size: 20px;"> WWW.JSNET.PE</h3>
                       <ul>TODOS LOS DERECHOS RESERVADOS</ul>
                </div>          
            </ul>
        </ul>
        <ul>
            <ul >
                <div class="texto-mail">
                     <footer class="footer">
                        <ul>DESARROLLADO POR</ul>
                         JSNET.PE <i class="fa fa-copyright" aria-hidden="true"></i>
                        
                    </footer>
                </div>          
            </ul>
        </ul>
    </div>
</div>

