<ul class="list-group">
                    <a class="list-group-item" href="/notes/upload">
                        Upload a file
                    </a>
                    <a class="list-group-item" href="/files">
                        Get a file
                    </a>
</ul>