<div class="avpage"> 
<br>
<br>
<div class="fondo">
    <div class="fondoAV">
    </div>
</div>

<ul class="list-group av1">
    <a class="list-group-item" href=""> ROBOTICA EDUCATIVA <i class="fa fa-steam" aria-hidden="true"></i></a>
                    <ul class="av2"> 
                    <a class="list-group-item" href="/cursos/inscripciones/MarvinRobot/av1Robotica">
                        MIS CLASES 
                    </a>
                    <a class="list-group-item" href="/cursos/inscripciones/MarvinRobot/av2Robotica">
                        MIS APUNTES 
                    </a>
                    <a class="list-group-item" href="/cursos/inscripciones/MarvinRobot/av3Robotica">
                        TUTORIALES 
                    </a>
                    <a class="list-group-item" href="/cursos/inscripciones/MarvinRobot/av4Robotica">
                        ACCESO AL CURSO
                    </a>
                     </ul>

     <a class="list-group-item" href=""> ARDUINO <i class="fa fa-gamepad" aria-hidden="true"></i></a>
                       <ul class="av2">
                    <a class="list-group-item" href="/notes/upload">
                        MIS CLASES 
                    </a>
                    <a class="list-group-item" href="/notes/upload">
                        MIS APUNTES 
                    </a>
                    <a class="list-group-item" href="/notes/upload">
                        TUTORIALES 
                    </a>
                    <a class="list-group-item" href="/notes/upload">
                        ACCESO AL CURSO
                    </a>
                     </ul>

    <a class="list-group-item" href=""> MICROCONTROLADORES PIC <i class="fa fa-microchip" aria-hidden="true"> </i></a> 
                    <ul class="av2"> 
                    <a class="list-group-item" href="/notes/upload">
                        MIS CLASES 
                    </a>
                    <a class="list-group-item" href="/notes/upload">
                        MIS APUNTES 
                    </a>
                    <a class="list-group-item" href="/notes/upload">
                        TUTORIALES 
                    </a>
                    <a class="list-group-item" href="/notes/upload">
                        ACCESO AL CURSO
                    </a>
                     </ul>
 
    <a class="list-group-item" href=""> AUTOCAD <i class="fa fa-space-shuttle" aria-hidden="true"></i></a>
                    <ul class="av2"> 
                    <a class="list-group-item" href="/notes/upload">
                        MIS CLASES 
                    </a>
                    <a class="list-group-item" href="/notes/upload">
                        MIS APUNTES 
                    </a>
                    <a class="list-group-item" href="/notes/upload">
                        TUTORIALES 
                    </a>
                    <a class="list-group-item" href="/notes/upload">
                        ACCESO AL CURSO
                    </a>
                     </ul>

    <a class="list-group-item" href=""> INVENTOR <i class="fa fa-cubes" aria-hidden="true"></i></a>
                    <ul class="av2"> 
                    <a class="list-group-item" href="/notes/upload">
                        MIS CLASES 
                    </a>
                    <a class="list-group-item" href="/notes/upload">
                        MIS APUNTES 
                    </a>
                    <a class="list-group-item" href="/notes/upload">
                        TUTORIALES 
                    </a>
                    <a class="list-group-item" href="/notes/upload">
                        ACCESO AL CURSO
                    </a>
                     </ul>

    <a class="list-group-item" href=""> SOLIDWORKS <i class="fa fa-cube" aria-hidden="true"></i></a>                    
                    
                    <ul class="av2"> 
                    <a class="list-group-item" href="/notes/upload">
                        MIS CLASES 
                    </a>
                    <a class="list-group-item" href="/notes/upload">
                        MIS APUNTES 
                    </a>
                    <a class="list-group-item" href="/notes/upload">
                        TUTORIALES 
                    </a>
                    <a class="list-group-item" href="/notes/upload">
                        ACCESO AL CURSO
                    </a>
                     </ul>

    <a class="list-group-item" href=""> TIA PORTAL <i class="fa fa-steam" aria-hidden="true"></i></a>    
                    
                    <ul class="av2"> 
                    <a class="list-group-item" href="/notes/upload">
                        MIS CLASES 
                    </a>
                    <a class="list-group-item" href="/notes/upload">
                        MIS APUNTES 
                    </a>
                    <a class="list-group-item" href="/notes/upload">
                        TUTORIALES 
                    </a>
                    <a class="list-group-item" href="/notes/upload">
                        ACCESO AL CURSO
                    </a>
                     </ul>

    <a class="list-group-item" href=""> LABVIEW <i class="fa fa-pie-chart" aria-hidden="true"></i></a>                        
                    
                    <ul class="av2"> 
                    <a class="list-group-item" href="/notes/upload">
                        MIS CLASES 
                    </a>
                    <a class="list-group-item" href="/notes/upload">
                        MIS APUNTES 
                    </a>
                    <a class="list-group-item" href="/notes/upload">
                        TUTORIALES 
                    </a>
                    <a class="list-group-item" href="/notes/upload">
                        ACCESO AL CURSO
                    </a>
                     </ul>

    <a class="list-group-item" href=""> PLANT 3D <i class="fa fa-rocket" aria-hidden="true"></i></a>                     
                    
                    <ul class="av2"> 
                    <a class="list-group-item" href="/notes/upload">
                        MIS CLASES 
                    </a>
                    <a class="list-group-item" href="/notes/upload">
                        MIS APUNTES 
                    </a>
                    <a class="list-group-item" href="/notes/upload">
                        TUTORIALES 
                    </a>
                    <a class="list-group-item" href="/notes/upload">
                        ACCESO AL CURSO
                    </a>
                     </ul>

    <a class="list-group-item" href=""> MATLAB <i class="fa fa-bar-chart" aria-hidden="true"></i></a>   

                    <ul class="av2"> 
                    <a class="list-group-item" href="/notes/upload">
                        MIS CLASES 
                    </a>
                    <a class="list-group-item" href="/notes/upload">
                        MIS APUNTES 
                    </a>
                    <a class="list-group-item" href="/notes/upload">
                        TUTORIALES 
                    </a>
                    <a class="list-group-item" href="/notes/upload">
                        ACCESO AL CURSO
                    </a>
                     </ul>
</ul>
<br>
<br>

</div>