

    <section class="store-text ">
            <h4>  ROBOTICA EDUCATIVA </h4>
            <p>KIDS - TEENS</p>
        </section>

<div class="avpage ">

<section class="store avtexto">
    <h4>CLASES DE ROBOTICA EDUCATIVA KIDS:</h4>
    
    <div class="contenedor-1 conten-store">
        <section class="productos">
                <div class="producto avproducto">
                    <h4>CLASE 1</h4>
                    <p>Reconocer componentes electrónicos Leds Resistencias Transistores. Instalación de Arduino IDE. Encender un Led</p>
                    
                    <a href="https://www.youtube.com/watch?v=gYHhOeEI-S4&t=9s" target="_blank"> <i class="fa fa-tasks" aria-hidden="true"></i> Ver clase</a>
                </div>
                <div class="producto avproducto">
                    <h4>CLASE 2</h4>
                    <p>Simulando en Tinkercad. Mi primer programa en Bloques</p>
                    
                    <a href="https://www.youtube.com/watch?v=9huIyn-8B4E" target="_blank"> <i class="fa fa-tasks" aria-hidden="true"></i> Ver clase</a>
                </div>
                <div class="producto avproducto">
                    <h4>CLASE 3</h4>
                    <p>Enciendo 2 leds. Simulando en Tinkercad + Programa en Bloques</p>
                    
                    <a href="https://youtu.be/vxxnhtklvoQ" target="_blank"> <i class="fa fa-tasks" aria-hidden="true"></i> Ver clase</a>
                </div>
                <div class="producto avproducto">
                    <h4>CLASE 4</h4>
                    <p>Uso de Pulsador. Configuración + Simulación Tinkercad</p>
                    
                    <a href="https://www.youtube.com/watch?v=Vcf1It2pPdo" target="_blank"> <i class="fa fa-tasks" aria-hidden="true"></i> Ver clase</a>
                </div>
                
        </section>
    </div>
</section>

<section class="store avtexto">
    <h4>CLASES DE ROBOTICA EDUCATIVA JUNIOR</h4>
    <div class="contenedor-1 conten-store">
        <section class="productos">
                <div class="producto avproducto">
                    <h4>CLASE 1</h4>
                    <p>Introdución a Arduino. Mi primer programa
                    </p>
                    
                    <a href="https://www.youtube.com/watch?v=gYHhOeEI-S4&t=9s" target="_blank"> <i class="fa fa-tasks" aria-hidden="true"></i> Ver clase</a>
                </div>
                <div class="producto avproducto">
                    <h4>CLASE 2</h4>
                    <p>Encender Leds, explicación + implementación
                    </p>
                    
                    <a href="https://www.youtube.com/watch?v=9huIyn-8B4E" target="_blank"> <i class="fa fa-tasks" aria-hidden="true"></i> Ver clase</a>
                </div>
                <div class="producto avproducto">
                    <h4>CLASE 3</h4>
                    <p>Uso de pulsador + Tinkercad + Arduino IDE
                    </p>
                    
                    <a href="https://www.youtube.com/watch?v=UdkyU-3c8Qo" target="_blank"> <i class="fa fa-tasks" aria-hidden="true"></i> Ver clase 1</a> <br>
                    <a href="https://www.youtube.com/watch?v=tEVlx4hzQrw" target="_blank"> <i class="fa fa-tasks" aria-hidden="true"></i> Ver clase 2</a>
                </div>
                <div class="producto avproducto">
                    <h4>CLASE 4</h4>
                    <p>Señales Analógicas - Entrada analógica + Uso de potenciometro
                    </p>
                    
                    <a href="https://www.youtube.com/watch?v=V3NPh-K3IzI&t=82s" target="_blank"> <i class="fa fa-tasks" aria-hidden="true"></i> Ver clase</a>
                </div>
                <div class="producto avproducto">
                    <h4>CLASE 5</h4>
                    <p>Señales PWM - Regular la intensidad de un Led
                    </p>
                    
                    <a href="https://www.youtube.com/watch?v=9j0242zmBk0" target="_blank"> <i class="fa fa-tasks" aria-hidden="true"></i> Ver clase</a>
                </div>
                
               
        </section>
    </div>
</section>
</div>