

    <section class="store-text ">
            <h4>  ROBOTICA EDUCATIVA </h4>
            <p>KIDS - TEENS</p>
        </section>

<div class="avpage ">

<section class="store avtexto">
    <h4>CLASES DE ROBOTICA EDUCATIVA KIDS:</h4>
    
    <div class="contenedor-1 conten-store">
        <section class="productos">
                <div class="producto avproducto">
                    <h4>CLASE 1</h4>
                    <p>Reconocer componentes electr칩nicos Leds Resistencias Transistores. Instalaci칩n de Arduino IDE. Encender un Led</p>
                    
                    <a href="https://www.youtube.com/watch?v=gYHhOeEI-S4&t=9s" target="_blank"> <i class="fa fa-tasks" aria-hidden="true"></i> Ver clase</a>
                </div>
                
                
        </section>
    </div>
</section>

<section class="store avtexto">
    <h4>CLASES DE ROBOTICA EDUCATIVA TEENS:</h4>
    <div class="contenedor-1 conten-store">
        <section class="productos">
                <div class="producto avproducto">
                    <h4>CLASE 1</h4>
                    <p>Uso de display LCD, teclados, motor, sensores de proximidad, luz, temperatura Conceptos b치sicos de programaci칩n
                    </p>
                    
                    <a href="https://www.youtube.com/watch?v=i341wkE_UHA&t=2s" target="_blank"> <i class="fa fa-tasks" aria-hidden="true"></i> Ver clase</a>
                </div>
              
                
               
        </section>
    </div>
</section>
</div>