 <div class="p-4">  <h1> Apuntes del curso:  </h1>  <hr></div>

  <div > 
    <section class="contenido-header successtranslate inscriptionVolver">
        <section class="textos-header inscriptionlink">
                
  <h2>Robótica Kids</h2>  
         
           Aquí puedes encontrar los apuntes de tu clase: <br>
         <i class="fa fa-hand-o-right inscriptionIcon" aria-hidden="true"></i> <a href="https://sfo2.digitaloceanspaces.com/woom/bf3db753-b192-4ece-8f3d-62f391cb328a.pptx" target="_blank">  DESCARGAR DIAPOSITIVAS CLASE 01</a>
      <br>
         <i class="fa fa-hand-o-right inscriptionIcon" aria-hidden="true"></i> <a href="https://woom.sfo2.digitaloceanspaces.com/943eedc7-cf53-47ac-ac0c-b718104bcdee.pptx" target="_blank">  DESCARGAR DIAPOSITIVAS CLASE 02</a>
         <br>
          <i class="fa fa-hand-o-right inscriptionIcon" aria-hidden="true"></i> <a href="https://woom.sfo2.digitaloceanspaces.com/9a414a99-8ac1-4c7e-a4da-32d101986479.pptx" target="_blank">  DESCARGAR DIAPOSITIVAS CLASE 03</a>
         <br>
          <i class="fa fa-hand-o-right inscriptionIcon" aria-hidden="true"></i> <a href="https://woom.sfo2.digitaloceanspaces.com/7eb4bea2-9ef1-4542-903f-5bf0b817853d.pptx" target="_blank">  DESCARGAR DIAPOSITIVAS CLASE 04</a>
         <br>       
          <i class="fa fa-hand-o-right inscriptionIcon" aria-hidden="true"></i> <a href="https://woom.sfo2.digitaloceanspaces.com/a3a4a15e-0fae-40cb-925f-25e8320246a6.rar" target="_blank">  DESCARGA LIBRERIA PARA CONTROL DE MOTORES</a>
         <br>
          <i class="fa fa-hand-o-right inscriptionIcon" aria-hidden="true"></i> <a href="https://woom.sfo2.digitaloceanspaces.com/930a8f9e-54cf-4a40-af55-0c1607fbdae2.pptx" target="_blank">  DESCARGA DIAPOSITIVAS CLASE 06</a>
          <br>    

         
    
        </section>

        
    </section>
    
    
    <br>
      <section class="contenido-header successtranslate inscriptionVolver">
        <section class="textos-header inscriptionlink">
                
  <h2>Robótica Junior</h2>  
         
           Aquí puedes encontrar los apuntes de tu clase: <br>
         <i class="fa fa-hand-o-right inscriptionIcon" aria-hidden="true"></i> <a href="https://sfo2.digitaloceanspaces.com/woom/bf3db753-b192-4ece-8f3d-62f391cb328a.pptx" target="_blank">  DESCARGAR DIAPOSITIVAS CLASE 01</a>
      <br>
         <i class="fa fa-hand-o-right inscriptionIcon" aria-hidden="true"></i> <a href="https://woom.sfo2.digitaloceanspaces.com/943eedc7-cf53-47ac-ac0c-b718104bcdee.pptx" target="_blank">  DESCARGAR DIAPOSITIVAS CLASE 02</a>
         <br>
          <i class="fa fa-hand-o-right inscriptionIcon" aria-hidden="true"></i> <a href="https://woom.sfo2.digitaloceanspaces.com/78b8ced1-0939-41f5-a585-031f7d08e3eb.pptx" target="_blank">  DESCARGAR DIAPOSITIVAS CLASE 03</a>
         <br>
          <i class="fa fa-hand-o-right inscriptionIcon" aria-hidden="true"></i> <a href="https://woom.sfo2.digitaloceanspaces.com/cadf73be-035d-42f1-9b7a-2ee9ca190577.pptx" target="_blank">  DESCARGAR DIAPOSITIVAS CLASE 04</a>
         <br>
         <i class="fa fa-hand-o-right inscriptionIcon" aria-hidden="true"></i> <a href="https://woom.sfo2.digitaloceanspaces.com/a3a4a15e-0fae-40cb-925f-25e8320246a6.rar" target="_blank">  DESCARGA LIBRERIA PARA CONTROL DE MOTORES</a>
         <br>
         <i class="fa fa-hand-o-right inscriptionIcon" aria-hidden="true"></i> <a href="https://woom.sfo2.digitaloceanspaces.com/930a8f9e-54cf-4a40-af55-0c1607fbdae2.pptx" target="_blank">  DESCARGA DIAPOSITIVAS CLASE 06</a>
          <br>
        <br>        
    
        </section>

        
    </section>

       <section class="contenido-header successtranslate inscriptionVolver">
        <section class="textos-header inscriptionlink">
                
  <h2>Robótica Fundamentals</h2>  
         
           Aquí puedes encontrar los apuntes de tu clase: <br>
         <i class="fa fa-hand-o-right inscriptionIcon" aria-hidden="true"></i> <a href="https://sfo2.digitaloceanspaces.com/woom/bf3db753-b192-4ece-8f3d-62f391cb328a.pptx" target="_blank">  DESCARGAR DIAPOSITIVAS CLASE 01</a>
      <br>
         <i class="fa fa-hand-o-right inscriptionIcon" aria-hidden="true"></i> <a href="https://woom.sfo2.digitaloceanspaces.com/943eedc7-cf53-47ac-ac0c-b718104bcdee.pptx" target="_blank">  DESCARGAR DIAPOSITIVAS CLASE 02</a>
         <br>
          <i class="fa fa-hand-o-right inscriptionIcon" aria-hidden="true"></i> <a href="https://woom.sfo2.digitaloceanspaces.com/9a414a99-8ac1-4c7e-a4da-32d101986479.pptx" target="_blank">  DESCARGAR DIAPOSITIVAS CLASE 03</a>
         <br>
          <i class="fa fa-hand-o-right inscriptionIcon" aria-hidden="true"></i> <a href="https://woom.sfo2.digitaloceanspaces.com/7eb4bea2-9ef1-4542-903f-5bf0b817853d.pptx" target="_blank">  DESCARGAR DIAPOSITIVAS CLASE 04</a>
         <br>        
         <i class="fa fa-hand-o-right inscriptionIcon" aria-hidden="true"></i> <a href="https://woom.sfo2.digitaloceanspaces.com/a3a4a15e-0fae-40cb-925f-25e8320246a6.rar" target="_blank">  DESCARGA LIBRERIA PARA CONTROL DE MOTORES</a>
         <br>
        <i class="fa fa-hand-o-right inscriptionIcon" aria-hidden="true"></i> <a href="https://woom.sfo2.digitaloceanspaces.com/930a8f9e-54cf-4a40-af55-0c1607fbdae2.pptx" target="_blank">  DESCARGA DIAPOSITIVAS CLASE 06</a>
        <br>    
    
        </section>

        
    </section>

 </div>    
 
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<div class="mfondo2">
<section class="fondo2"> 
</section>

</div>

<section class="social">
    
        <div class="linksMR">
            <a href="https://instagram.com/robotmarvin_tec?igshid=w76nm12om7ay" target="_blank">
                <i class="fa fa-instagram" aria-hidden="true"></i>
            </a>
            <a href="https://www.facebook.com/Marvin-ROBOT-110375053832149" target="_blank">
                <i class="fa fa-facebook-square" aria-hidden="true"></i>
            </a>
            
            
            <a href="https://www.youtube.com/channel/UCe5uCF4MKqd0eY04YtcCjhA" target="_blank">
                <i class="fa fa-youtube" aria-hidden="true"></i>
            </a>
        </div>
</section>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<a href="https://api.whatsapp.com/send?phone=51990012243" class="btn-wsp" target="blank"><i class="fa fa-whatsapp" aria-hidden="true"></i>
</a>
