

    <section class="store-text ">
            <h4>  ROBOTICA EDUCATIVA </h4>
            <p>KIDS - TEENS</p>
        </section>

<div class="avpage ">

<section class="store avtexto">
    <h4>TUTORIALES DE ROBOTICA EDUCATIVA KIDS:</h4>
    
    <div class="contenedor-1 conten-store">
        <section class="productos">
                <div class="producto avproducto">
                    <h4>INSTALAR ARDUINO</h4>
                    <p>En este video te ensañamos como descargar e instalar Arduino Ide para el desarrollo de tus proyectos.</p>
                    
                    <a href="https://www.youtube.com/watch?v=QIly197B5MA" target="_blank"> <i class="fa fa-video-camera" aria-hidden="true"></i> Ver video</a>
                </div>
                
                
        </section>
    </div>
</section>

<section class="store avtexto">
    <h4>TUTORIALES DE ROBOTICA EDUCATIVA TEENS:</h4>
    <div class="contenedor-1 conten-store">
        <section class="productos">
                <div class="producto avproducto">
                    <h4>INSTALAR ARDUINO</h4>
                    <p>En este video te ensañamos como descargar e instalar Arduino Ide para el desarrollo de tus proyectos.</p>
                    
                    <a href="https://www.youtube.com/watch?v=QIly197B5MA" target="_blank"> <i class="fa fa-video-camera" aria-hidden="true"></i> Ver video</a>
                </div>
              
                
               
        </section>
    </div>
</section>
</div>