 <div class="p-4">  <h1> Ingresa a tu clase:  </h1>  <hr></div>

  <div > 
    <section class="contenido-header successtranslate inscriptionVolver">
        <section class="textos-header inscriptionlink">
                
  
         
          <i class="fa fa-hand-o-right inscriptionIcon" aria-hidden="true"></i> ID de reunión: 824 0982 6978 <br>
          <i class="fa fa-hand-o-right inscriptionIcon" aria-hidden="true"></i> Código de acceso: 477660 <br>
          <i class="fa fa-hand-o-right inscriptionIcon" aria-hidden="true"></i>  Ingresa directo a la clase <a href="https://us02web.zoom.us/j/82409826978?pwd=dWF2UnRtdlYvbHl2SHVUbXlBcGs4dz09"> aquí </a> <br>
          
                  <i class="fa fa-info-circle" aria-hidden="true"></i>  No cuentas con <a href="https://zoom.us/download"> Zoom  </a> ?<br>    
<br>
                            <h2>Este curso se lleva a cabo los días Viernes a las 10 am</h2>
        </section>

        
    </section>
    
    <div class=" p-4">
        <a href="/cursos/inscripcion/MarvinRobot"><i class="fa fa-chevron-left" aria-hidden="true"></i> Ver otros Cursos</a>
    </div>
 </div>    
 

<br>
<br><br>
<div class="mfondo2">
<section class="fondo2"> 
</section>

</div>

<section class="social">
    
        <div class="linksMR">
            <a href="https://instagram.com/robotmarvin_tec?igshid=w76nm12om7ay" target="_blank">
                <i class="fa fa-instagram" aria-hidden="true"></i>
            </a>
            <a href="https://www.facebook.com/Marvin-ROBOT-110375053832149" target="_blank">
                <i class="fa fa-facebook-square" aria-hidden="true"></i>
            </a>
            
            
            <a href="https://www.youtube.com/channel/UCe5uCF4MKqd0eY04YtcCjhA" target="_blank">
                <i class="fa fa-youtube" aria-hidden="true"></i>
            </a>
        </div>
</section>

<br>
<br>
<br><br>    

<a href="https://api.whatsapp.com/send?phone=51990012243" class="btn-wsp" target="blank"><i class="fa fa-whatsapp" aria-hidden="true"></i>
</a>
