 <div class="p-4">  <h1> Ingresa a tu clase:  </h1>  <hr></div>

  <div class=" ancho_enlaces" > 
    <section class="contenido-header successtranslate inscriptionVolver">
        <section class="textos-header inscriptionlink">
                <h2>Robótica Kids Viernes 10 am</h2>

            <p>
           Woom Clases le está invitando a una reunión de Zoom programada. <br>

            Tema: Robótica Kids <br>
            Hora: 19 feb. 2021 10:00 a. m. Lima <br>
            <i class="fa fa-hand-o-right inscriptionIcon" aria-hidden="true"></i>
            Unirse a la reunión Zoom: <a href="https://us02web.zoom.us/j/86344082136?pwd=dllsNTZUUWJLNERFUGtreDBNN0xHQT09" target="blank">https://us02web.zoom.us/j/86344082136?pwd=dllsNTZUUWJLNERFUGtreDBNN0xHQT09</a>
             <br>

            ID de reunión: 863 4408 2136 <br>
            Código de acceso: 653477 <br>
            </p>      

            
  
            <i class="fa fa-info-circle" aria-hidden="true"></i>  No cuentas con <a href="https://zoom.us/download" target="blank"> Zoom  </a> ?<br>    
            <br>
            <br>
   
        </section>

        
    </section>


         <section class="contenido-header successtranslate inscriptionVolver">
        <section class="textos-header inscriptionlink">
              <h2>Robótica Junior Viernes 8 am</h2>               
              
            <p>
            Woom Clases le está invitando a una reunión de Zoom programada. <br>

            Tema: Robótica Junior - Woom <br>
            Hora: 19 feb. 2021 08:00 a. m. Lima <br>
            <i class="fa fa-hand-o-right inscriptionIcon" aria-hidden="true"></i>
            Unirse a la reunión Zoom: <a href="https://us05web.zoom.us/j/2422741602?pwd=QW1ZaVhNR3RZMjhXbXFSWCtzM3k1dz09" target="blank">https://us05web.zoom.us/j/2422741602?pwd=QW1ZaVhNR3RZMjhXbXFSWCtzM3k1dz09</a>
             <br>

            ID de reunión: 242 274 1602 <br>
            Código de acceso: rf4JfF <br>

            </p>   
            
                 <i class="fa fa-info-circle" aria-hidden="true"></i>  No cuentas con <a href="https://zoom.us/download" target="blank"> Zoom  </a> ?<br>    
            <br>
        </section>

        
    </section>


<section class="contenido-header successtranslate inscriptionVolver">
        <section class="textos-header inscriptionlink">
             <h2>Robótica Kids Lunes 10 am</h2>               
         
            <p>
            Woom Clases le está invitando a una reunión de Zoom programada. <br>

            Tema: Robótica Junior - Woom <br>
            Hora: 22 feb. 2021 10:00 a. m. Lima <br>
            <i class="fa fa-hand-o-right inscriptionIcon" aria-hidden="true"></i>
            Unirse a la reunión Zoom: <a href="https://us05web.zoom.us/j/2422741602?pwd=QW1ZaVhNR3RZMjhXbXFSWCtzM3k1dz09" target="blank">https://us05web.zoom.us/j/2422741602?pwd=QW1ZaVhNR3RZMjhXbXFSWCtzM3k1dz09</a>
             <br>

            ID de reunión: 242 274 1602 <br>
            Código de acceso: rf4JfF <br>

            </p>   
            



            <br>
                 <i class="fa fa-info-circle" aria-hidden="true"></i>  No cuentas con <a href="https://zoom.us/download" target="blank"> Zoom  </a> ?<br>    
            <br>
        </section>

        
    </section>

<section class="contenido-header successtranslate inscriptionVolver">
        <section class="textos-header inscriptionlink">
             <h2>Robótica Fundamentals Jueves 10 am</h2>               
           
            <p>
            Woom Clases le está invitando a una reunión de Zoom programada. <br>

            Tema: Robótica Junior - Woom <br>
            Hora: 18 feb. 2021 10:00 a. m. Lima <br>
            <i class="fa fa-hand-o-right inscriptionIcon" aria-hidden="true"></i>
            Unirse a la reunión Zoom: <a href="https://us05web.zoom.us/j/2422741602?pwd=QW1ZaVhNR3RZMjhXbXFSWCtzM3k1dz09" target="blank">https://us05web.zoom.us/j/2422741602?pwd=QW1ZaVhNR3RZMjhXbXFSWCtzM3k1dz09</a>
             <br>

            ID de reunión: 242 274 1602 <br>
            Código de acceso: rf4JfF <br>

            </p>   
            



            <br>
                 <i class="fa fa-info-circle" aria-hidden="true"></i>  No cuentas con <a href="https://zoom.us/download" target="blank"> Zoom  </a> ?<br>    
            <br>
        </section>

        
    </section>

    
    <div class=" p-4">
        <a href="/cursos/inscripcion/MarvinRobot"><i class="fa fa-chevron-left" aria-hidden="true"></i> Ver otros Cursos</a>
    </div>
 </div>    
 

<br>
<br><br>
<div class="mfondo2">
<section class="fondo2"> 
</section>

</div>

<section class="social">
    
        <div class="linksMR">
            <a href="https://instagram.com/robotmarvin_tec?igshid=w76nm12om7ay" target="_blank">
                <i class="fa fa-instagram" aria-hidden="true"></i>
            </a>
            <a href="https://www.facebook.com/Marvin-ROBOT-110375053832149" target="_blank">
                <i class="fa fa-facebook-square" aria-hidden="true"></i>
            </a>
            
            
            <a href="https://www.youtube.com/channel/UCe5uCF4MKqd0eY04YtcCjhA" target="_blank">
                <i class="fa fa-youtube" aria-hidden="true"></i>
            </a>
        </div>
</section>

<br>
<br>
<br><br>    

<a href="https://api.whatsapp.com/send?phone=51990012243" class="btn-wsp" target="blank"><i class="fa fa-whatsapp" aria-hidden="true"></i>
</a>
