<div class="p-4">
<div class="fondo">
    <div class="fondoMR">
    </div>
</div>
<hr>
<div class="temario curso-info">
    <h2>TIA PORTAL - PROGRAMACIÓN DE PLCs</h2>
    <h4>Codigo del curso: MR0001TIAP</h4>
    <h4>Duración del curso: 4 SEMANAS</h4>
    
    <h3>Temario del curso:</h3>
    <ul>
        INTRODUCIÓN A PROGRAMACIÓN DE PLC <br>
        BLOQUES DE DATOS <br>
        FUNCION, BLOQUE DE FUNCIÓN <br>
        TEMPORIZADOR <br>
        CONTADOR – ASCENDENTE <br>
        CONTADOR - DESCENDENTE <br>
        COMPARADORES <br>
        OPERADORES MATEMATICOS <br>
        FUNCION MOVE <br>
        TIPOS DE DATOS: BOOL, BYTE, WORD, DWORD, ENTEROS, FLOTANTES <br>
        ENTRADA ANALOGICA <br>
        SIMULACION PANTALLA HMI <br>

    </ul>
    <h4>Costo de materiales: s/. 0</h4>
    <h4>Costo de matrícula: s/. 0</h4>
    <h4>Costo de curso: s/. 100</h4> <a href="/cursos/inscripcion/MarvinRobot#registroCurso">Inscribirme ahora</a>
    <br>
    <br>
    <br>
</div>
<hr>
<a href="/cursos/inscripcion/MarvinRobot"><i class="fa fa-chevron-left" aria-hidden="true"></i> Volver a Cursos</a></div>
</div>



<br>