<div class="p-4">
<div class="fondo">
    <div class="fondoMR">
    </div>
</div>
<hr>
<div class="temario curso-info">
    <h2>Programación con Matlab</h2>
    <h4>Codigo del curso: MR0001MLAB</h4>
    <h4>Duración del curso: 4 SEMANAS</h4>
    
    <h3>Temario del curso:</h3>
    <ul>
        ENTORNO MATLAB <br>
        VARIABLES Y TIPOS DE DATOS <br>
        OPERADORES Y VECTORES <br>
        MATRICES <br>
        CREACION DE SCRIPTS <br>
        FUNCIONES <br>
        EXPORTACION E IMPORTACION DE DATOS A TRAVES DE ARCHIVOS <br>

        GRAFICAS EN MATLAB. PLOT <br>
        MULTIPLES GRAFICAS <br>
        GRAFICAS DE CONTORNOS <br>
        ESCALA LOGARITMICA Y SEMILOGARITMICA <br>
        GRAFICAS EN COORDENADAS POLARES, PARAMETRICAS, CILINDRICAS <br>
        GRAFICAS 3D, COORDENADAS ESFERICAS <br>

    </ul>
    <h4>Costo de materiales: s/. 0</h4>
    <h4>Costo de matrícula: s/. 0</h4>
    <h4>Costo de curso: s/. 100</h4> <a href="/users/payment">Inscribirme ahora</a>
    <br>
    <br>
    <br>
     <hr>
    <h2>Programación de Microcontroladores con PIC C 2do Nivel </h2>
    <h4>Codigo del curso: MR0002MLAB</h4>
    <h4>Duración del curso: 4 SEMANAS</h4>
   
    <h3>Temario del curso:</h3>
    <ul>
        ESTRUCTURAS DE CONTROL <br>
        ESTRUCTURAS DE SELECCIÓN O CONDICIONALES <br>
        ESTRUCTURAS DE REPETICION O BUCLES <br>
        METODOS NUMERICOS <br>
        AJUSTE DE CURVA – CURVE FITTING TOOLBOX <br>
        INTRODUCCION AL ANALISIS DE SISTEMAS USANDO MATLAB <br>
        SISTEMAS DE CONTROL EN EL DOMINIO DE LA FRECUENCIA <br>
        SISTEMAS DE CONTROL EN EL DOMINIO DEL TIEMPO <br>
        INTRODUCCION A SIMULINK <br>

    </ul>
    <h4>Costo de materiales: s/. 0</h4>
    <h4>Costo de matrícula: s/. 0</h4>
    <h4>Costo de curso: s/. 120</h4> <a href="/users/payment">Inscribirme ahora</a>
    <br>
</div>
<hr>
<a href="/cursos/inscripcion/MarvinRobot"><i class="fa fa-chevron-left" aria-hidden="true"></i> Volver a Cursos</a></div>
</div>



<br>