<div class="p-4">
<div class="fondo">
    <div class="fondoMR">
    </div>
</div>
<hr>
<div class="temario curso-info">
    <h2>AUTODESK PLANT 3D 1er NIVEL</h2>
    <h4>Codigo del curso: MR0001PLANT </h4>
    <h4>Duración del curso: 4 SEMANAS</h4>
    
    <h3>Temario del curso:</h3>
    <ul>
        <p>  MODULO I: ENTORNO DE TRABAJO 1.1. Entorno de trabajo de AutoCAD PLANT 3D. 1.2. Área de trabajo. 1.3. Proyectos. 1.3.1. Creación y gestión de Proyectos. 1.3.2. Project SetUp. 1.3.3. Creación de Carpetas y Drawings. 1.3.4. Búsqueda de Archivos DWG. 1.4. Dimensionamiento. 1.4.1. Catalogo por defecto de AutoCAD PLANT 3D (Equipos, Estructuras y Tuberías). 1.5. Normalización y Especificaciones. 1.5.1. Normalización. 1.5.2. Especificaciones. 1.6. Unidades y Escalas. 1.7. </p>
        <p>  MODULO II: DISEÑO DE EQUIPOS: 2.1. Inserción de Equipos. 2.1.1. Inserción de Equipos con AutoCAD 3D Modeling (Equipos creados desde cero). 2.1.2. Inserción de Equipos con CREATE EQUIPEMENT de Equipos por defecto de AutoCAD PLANT 3D. 2.1.3. Creación de Equipos personalizados. 2.2. Inserción de modificación de Boquillas (NOZZLES). 2.2.1. Inserción de Boquillas. 2.2.2. Modificación de Boquillas. 2.2.3. Eliminación de Boquillas. 2.3. Propiedades de Equipos. 2.3.1. Modificación de Equipos. 2.3.2. Adición de propiedades. 2.4. </p>

    </ul>
    <h4>Costo de materiales: s/. 0</h4>
    <h4>Costo de matrícula: s/. 0</h4>
    <h4>Costo de curso: s/. 180</h4> <a href="/users/payment">Inscribirme ahora</a>
    <br>
    <br>
    <br>
     <hr>
    <h2>AUTODESK PLANT 3D 2do Nivel </h2>
    <h4>Codigo del curso: MR0002PLANT</h4>
    <h4>Duración del curso: 5 SEMANAS</h4>
   
    <h3>Temario del curso:</h3>
    <ul>
        <p>MODULO III: DISEÑO DE ESTRUCTURAS 3.1. Herramienta GRID. 3.1.1. Inserción de GRIDs. 3.1.2. Edición de GRIDs. 3.2. Herramienta MEMBER 3.2.1. Inserción de Miembros Estructurales. 3.2.2. Configuración de Estilos visuales. 3.2.3. Edición de Miembros Estructurales. 3.3. Empalme de Miembros Estructurales. 3.3.1. Herramienta CUT BACK. 3.3.2. Herramienta MITER CUT. 3.4. Sistemas de Anclaje. 3.4.1. Herramienta FOOTING. 3.4.2. Parámetros Herramienta FOOTING. 3.5. Pisos y Elevaciones. 3.5.1. Herramienta PLATE. 3.5.2. Herramienta GRATING. 3.6. Sistemas de Desplazamiento. 3.6.1. Herramienta LADDER. 3.6.2. Propiedades de LADDERs. 3.6.3. Propiedades STAIRS. 3.6.4. Edición de STAIRS. 3.7. Sistemas de Protección y Seguridad. 3.7.1. Herramienta RAILING. 3.7.2. Propiedades RAILINGs. </p>
        <p>MODULO IV: DISEÑO DE REDES DE TUBERIAS 4.1. Nociones Básicas. 4.2. Especificaciones Técnicas. 4.3. Selección de Diámetros. 4.4. Inserción de Tuberías. 4.4.1. Inserción de Tuberías y codos básicos (coplanares). 4.4.2. Inserciones de Tuberías Cruzadas (planos Cruzados). 4.4.3. Inserciones Automáticas (auto-ruteo). 4.4.4. Inserción Personalizada (recomendada). 4.5. Edición de Tuberías. 4.5.1. Edición de Terminales. 4.5.2. Edición de Tramos Rectos. 4.5.3. Edición de Codos. 4.5.4. Edición de Tuberías PROPIEDADES GENERALES. 4.6. Asignación de Etiquetas (TAG). 4.6.1. Selección y asignación de Líneas. 4.7. Inserción de Válvulas, Accesorios y Soportes. 4.7.1. Panel de Accesorios y soportes. 4.7.2. SPEC VIEWER (solo Válvulas y Accesorios). 4.8. Planos Isométricos. 4.8.1. Creación de Isométricos. 4.8.2. Propiedades de Isométricos. 4.9. Planos ortográficos. 4.9.1. Creación de planos ortográficos. 4.9.2. Propiedades de ortográficos 4.10. Conexiones (Bridas). 4.11. Creación de Reportes y Lista de Materiales. 4.11.1. REPORT CREATOR. 4.11.2. Exportación e Impresión de Reportes. 4.11.3. Configuración de Reportes.</p>


    </ul>
    <h4>Costo de materiales: s/. 0</h4>
    <h4>Costo de matrícula: s/. 0</h4>
    <h4>Costo de curso: s/. 200</h4> <a href="/users/payment">Inscribirme ahora</a>
    <br>
    <br>
    <br>
    
   
</div>
<hr>
<a href="/cursos/inscripcion/MarvinRobot"><i class="fa fa-chevron-left" aria-hidden="true"></i> Volver a Cursos</a></div>
</div>



<br>