<div class="p-4">
<div class="fondo">
    <div class="fondoMR">
    </div>
</div>
<div class="temario curso-info">
    <hr>
    <h2>Robótica Kids 8-11 años</h2>
    <h4>Codigo del curso: MR0001ROB</h4>
    <h4>Duración del curso: 8 SEMANAS</h4> <br>
    <h3>Descripción:</h3>
    <p>
        En este curso el niño logrará conocer el entorno Arduino y reconocer los principales componentes electrónicos. será guiado para poder desarrollar sus primeros proyectos de manera exitosa e iniciará a escribir su primer código de programación. Al finalizar el curso el niño habrá ensamblado su primer robot móvil y le habrá dotado de movimiento haciendo uso de motores.
    </p>
    
    <h3>Materiales:</h3>
    <p>
        •	1 Arduino Uno R3 (Incluye cable USB)  <br>
        •	1 Protoboard 400 <br>
        •	20 Cables para protoboard <br>
        •	8 Leds difusos de 5mm de varios colores <br>
        •	8 Resistencias de 330 Ohm <br>
        •	4 Pulsadores con cubierta de 12mm <br>
        •	4 Resistencias de 10KOhm <br>
        •	1 Potenciometro 10Kohm <br>
        •	Chasis Plataforma Robot móvil 2WD <br>
        •	2x LLantas de goma <br>
        •	2x Motores DC con reducción <br>
        •	4x Cables de conexión <br>
        •	1x Rueda Loca <br>
        •	1x Portapila para 4 pilas AA <br>
        •	2x Encoders <br>
        •	4x Sujetadores de motor <br>
        •	1x Switch ON/OFF <br>
        •	10x tornillo M3 <br>
        •	6x tuercas M3 <br>
        •	4x Espaciadores M3 <br>
        •	Shield Motor v1 Driver L293D <br>

    </p>

    <h3>Temario del curso:</h3>
    <ul>
o	SEMANA 1: INTRODUCCIÓN AL CURSO.  RECONOCIMIENTO DE MATERIALES DEL KIT DE ROBÓTICA. INSTALACIÓN DE ARDUINO IDE. USO DE SOFTWARE DE SIMULACIÓN. INTRODUCCIÓN A TINKERCAD. <br>IDENTIFICACIÓN DE RESISTENCIAS. FUNCIONAMIENTO DEL PROTOBOARD. PRIMER PROYECTO: ENCENDER UN LED CON ARDUINO.  <br> 
o	SEMANA 2: PROGRAMACIÓN EN BLOQUES. COMPILACIÓN Y CARGA DE PROGRAMA. PRIMER PROGRAMA EN ARDUINO: MANEJO DE PINES DE ARDUINO. <br>
o	SEMANA 3: USO DE ENTRADAS Y SALIDAS DIGITALES. QUE ES UN BIT. CONFIGURACIÓN DE PULSADORES (RETARDO, PULL UP, PULL DOWN). PROYECTO: ENCENDER LEDS CON PULSADORES <br>
o	SEMANA 4: USO DE SEÑALES ANALÓGICAS. RESOLUCIÓN DE UNA SEÑAL ANÁLOGICA. USO DE POTENCIOMETRO. PROYECTO: ENVIO DE DATOS DE POTENCIOMETRO A MONITOR SERIE. <br>
o	SEMANA 5: USO DE SEÑALES PWM. MODULACIÓN POR ANCHO DE PULSO. RESOLUCIÓN DE LA SEÑAL PWM. MANEJO DE SEÑALES PWM. PROYECTO: CONTROL DE INTENSIDAD DE LUZ MEDIANTE PWM. <br>
o	SEMANA 6: RECONOCIMIENTO DE KIT DE ROBOT MOVIL. ENSAMBLE Y CABLEADO DE CHASIS DE ROBOT MOVIL + MOTORES + RUEDA LOCA + PORTAPILAS. <br>
o	SEMANA 7: USO DE PLACA DRIVER PARA CONTROL DE 2 MOTORES. USO DE LIBRERIA ADAFRUIT<br> 
o	SEMANA 8: ENSAMBLE FINAL DE ROBOT MOVIL. ALIMENTACIÓN AUTÓNOMA DEL ROBOT. PROGRAMACIÓN DE TRAYECTORIAS. <br>


        <br>
        *Envío a domicilio en todo el Perú  
    </ul>
    <h4>Costo de curso: s/. 100 mensual</h4>
    <h4>Costo de materiales: s/. 115</h4>
    <h4>Costo de envío: s/. 15</h4>
     <a href="/cursos/inscripcion/MarvinRobot#registroCurso">Inscribirme ahora</a>
    <br>
    <br>
    <br>


    <hr>
    <h2>Robótica Fundamentals 11-14 años</h2>
    <h4>Codigo del curso: MR0002ROB</h4>
    <h4>Duración del curso: 8 SEMANAS</h4>

    <h3>Descripción:</h3>
    <p>
        Este curso está enfocado a jóvenes que por primera vez desean conocer la plataforma Arduino, en este curso se les brindará conocimientos básicos de programación (software), y estarán capacitados para emplear los principales componentes electrónicos (hardware) esta combinación les permitirá crear sus primeros proyectos robótica. Al terminar el curso los alumnos habrán desarrollado su primer robot móvil de manera autónoma y esté cumplirá las funciones que ellos le hayan programado.
    </p>
    
    <h3>Materiales:</h3>
    <p>
        •	1 Arduino Uno R3 (Incluye cable USB)  <br>
        •	1 Protoboard 400 <br>
        •	20 Cables para protoboard <br>
        •	8 Leds difusos de 5mm de varios colores <br>
        •	8 Resistencias de 330 Ohm <br>
        •	4 Pulsadores con cubierta de 12mm <br>
        •	4 Resistencias de 10KOhm <br>
        •	1 Potenciometro 10Kohm <br>
        •	Chasis Plataforma Robot móvil 2WD <br>
        •	2x LLantas de goma <br>
        •	2x Motores DC con reducción <br>
        •	4x Cables de conexión <br>
        •	1x Rueda Loca <br>
        •	1x Portapila para 4 pilas AA <br>
        •	2x Encoders <br>
        •	4x Sujetadores de motor <br>
        •	1x Switch ON/OFF <br>
        •	10x tornillo M3 <br>
        •	6x tuercas M3 <br>
        •	4x Espaciadores M3 <br>
        •	Shield Motor v1 Driver L293D <br>

    </p>


    
    <h3>Temario del curso:</h3>
    <ul>
        o	SEMANA 1: INTRODUCCIÓN AL CURSO.  RECONOCIMIENTO DED MATERIALES DEL KIT DE ROBÓTICA. INSTALACIÓN DE ARDUINO IDE. USO DE SOFTWARE DE SIMULACIÓN. INTRODUCCIÓN A TINKERCAD. IDENTIFICACIÓN DE RESISTENCIAS. FUNCIONAMIENTO DEL PROTOBOARD. PRIMER PROYECTO: ENCENDER UN LED CON ARDUINO.  <br>
        o	SEMANA 2: INTRODUCCIÓN A LA PROGRAMACIÓN DE ARDUINO. ESTRUCTURA DE UN PROGRAMA. PROGRAMACIÓN EN BLOQUES. COMPILACIÓN Y CARGA DE PROGRAMA. PRIMER PROGRAMA EN ARDUINO: MANEJO DE PINES DE ARDUINO. <br>
        o	SEMANA 3: RECONOCIMIENTO DE PUERTOS DE ARDUINO UNO. USO DE ENTRADAS Y SALIDAS DIGITALES. PROGRAMACIÓN EN BLOQUE DE ENTRADAS Y SALIDAS DIGITALES. CONFIGURACIÓN DE PULSADORES (RETARDO, PULL UP, PULL DOWN). PROYECTO: ENCENDER LEDS CON PULSADORES <br>
        o	SEMANA 4: USO DE SEÑALES ANALÓGICAS. QUE ES UN BIT. RESOLUCIÓN DE UNA SEÑAL ANÁLOGICA. LECTURA DE SENSORES MEDIANTE PUERTO ANALÓGICO DE ARDUINO. USO DE POTENCIOMETRO. USO DE OSCILOSCOPIO. PROYECTO: ENVIO DE DATOS DE POTENCIOMETRO A MONITOR SERIE. <br>
        o	SEMANA 5: USO DE SEÑALES PWM. MODULACIÓN POR ANCHO DE PULSO. RESOLUCIÓN DE LA SEÑAL PWM. MANEJO Y PROGRAMACIÓN DE SEÑALES PWM. PROYECTO: CONTROL DE INTENSIDAD DE LUZ MEDIANTE PWM. <br>
        o	SEMANA 6: RECONOCIMIENTO DE KIT DE ROBOT MOVIL. ENSAMBLE Y CABLEADO DE CHASIS DE ROBOT MOVIL + MOTORES + RUEDA LOCA + PORTAPILAS.  <br>
        o	SEMANA 7: USO DE TRANSISTOR. APLICACIÓN PARA CONTROL DE MOTOR DE DC. USO DE PUENTE H. APLICACIÓN PARA CONTROL DE GIRO Y VELOCIDAD DE MOTOR DC <br>
        o	SEMANA 8: USO DE SHIELD MOTOR DRIVER PARA CONTROL DE 2 MOTORES. ENSAMBLE FINAL DE ROBOT MOVIL. PROGRAMACIÓN DE TRAYECTORIAS. <br>


        <br>
        *Envío a domicilio en todo el Perú 

    </ul>
    <h4>Costo de curso: s/. 100 mensual</h4>
    <h4>Costo de materiales: s/. 115</h4>
    <h4>Costo de envío: s/. 15</h4>
     <a href="/cursos/inscripcion/MarvinRobot#registroCurso">Inscribirme ahora</a>
    <br>


 <hr>
    <h2>Robótica Junior +14 años</h2>
    <h4>Codigo del curso: MR0003ROB</h4>
    <h4>Duración del curso: 8 SEMANAS</h4>

    <h3>Descripción:</h3>
    <p>
        Este curso va dirigido a jóvenes y adultos que deseen explotar las bondades que brinda la electrónica. en este curso profundizaremos en el empleo de dispositivos analógicos, digitales, sensores y actuadores. los alumnos serán capaces de dominar dispositivos de entrada y salida como display’s lcd, teclados alfanuméricos, display 7 segmentos, configurar un sensor ultrasónico, y un servomotor. al terminar el curso el alumno dominará con amplitud los canales analógicos y habrá puesto en práctica sus conocimientos en diversos proyectos electrónicos.
    </p>
    
    <h3>Materiales:</h3>
    <p>
        •	1 Arduino Uno R3 (Incluye cable USB) <br>
        •	1 Protoboard 830 <br>
        •	50 Cables para protoboard <br>
        •	10 Leds de 5mm <br>
        •	1 Leds RGB 5mm <br>
        •	13 Resistencias de 330 Ohm <br>
        •	4 Pulsadores con cubierta de 12mm <br>
        •	4 Resistencias de 10KOhm <br>
        •	1 Potenciometro 10kOhm <br>
        •	1 LCD 1602 Alfanumérico <br>
        •	1 Micro Servo SG90 <br>
        •	1 Sensor Ultrasonico HC-SR04 <br>
        •	1 Sensor de Temperatura LM35 <br>
        •	1 LDR 5528 <br>


    </p>


    
    <h3>Temario del curso:</h3>
    <ul>
        o	SEMANA 1: INTRODUCCIÓN AL CURSO.  RECONOCIMIENTO DE MATERIALES. INSTALACIÓN DE ARDUINO IDE. USO DE SOFTWARE DE SIMULACIÓN. INTRODUCCIÓN A TINKERCAD. IDENTIFICACIÓN DE RESISTENCIAS, LCD, SERVOMOTOR, SENSOR ULTRASONIDO. USO DE SALIDAS DIGITALES DE ARDUINO. PROYECTO: ACTIVACIÓN DE LUCES LED. <br>
        o	SEMANA 2: INTRODUCCIÓN A LA PROGRAMACIÓN DE ARDUINO. ESTRUCTURA DE UN PROGRAMA. BUCLES Y SENTENCIAS DE PROGRAMACIÓN. SENTENCIA IF ELSE. BUCLE FOR. COMPILACIÓN Y CARGA DE PROGRAMA. PRIMER PROGRAMA EN ARDUINO: MANEJO DE 8 LEDS CON BUCLE FOR. <br>
        o	SEMANA 3: RECONOCIMIENTO DE PUERTOS DE ARDUINO UNO. USO DE ENTRADAS Y SALIDAS DIGITALES. CONFIGURACIÓN DE PULSADORES (RETARDO, PULL UP, PULL DOWN). CONFIGURACIÓN DE DISPLAY LCD. ENVIO DE DATOS POR MONITOR SERIAL. PROYECTO: MOSTRAR MENSAJES EN DISPLAY LCD <br>
        o	SEMANA 4: USO DE SEÑALES ANALÓGICAS. RESOLUCIÓN DE UNA SEÑAL ANÁLOGICA. LECTURA DE SEÑAL DE SENSOR MEDIANTE PUERTO ANALÓGICO DE ARDUINO. USO DE POTENCIOMETRO. USO DE OSCILOSCOPIO. PROYECTO: SENSAR TEMPERATURA Y MOSTRAR DISPLAY LCD CON LM35. <br>
        o	SEMANA 5: USO DE SEÑALES PWM. MODULACIÓN POR ANCHO DE PULSO. RESOLUCIÓN DE LA SEÑAL PWM.  <br>
        o	SEMANA 6: MANEJO Y PROGRAMACIÓN DE SEÑALES PWM. USO DE TRANSISTOR. PROYECTO: CONTROL DE VELOCIDAD DE MOTOR MEDIANTE PWM. <br>
        o	SEMANA 7: APLICACIÓN PARA CONTROL DE MOTOR DE DC. USO DE PUENTE H. APLICACIÓN PARA CONTROL DE GIRO Y VELOCIDAD DE MOTOR DC <br>
        o	SEMANA 8: CONFIGURACIÓN DE SENSOR ULTRASONICO. USO DE SERVOMOTOR. PROYECTO: POSICIONAMIENTO ANGULAR DE SERVOMOTOR Y SENSADOR DE DISTANCIA MEDIANTE SENSOR ULTRASONICO. <br>



        <br>
        *Envío a domicilio en todo el Perú  

    </ul>
    <h4>Costo de curso: s/. 80 mensual</h4>
    <h4>Costo de materiales: s/. 130</h4>
    <h4>Costo de envío: s/. 15</h4>
     <a href="/cursos/inscripcion/MarvinRobot#registroCurso">Inscribirme ahora</a>
    <br>


<hr>
    <h2>Explorer - Todas las edades</h2>
    <h4>Codigo del curso: MR0004ROB</h4>
    <h4>Duración del curso: 8 SEMANAS</h4>

    <h3>Descripción:</h3>
    <p>
        Este curso va dirigido a público en general con conocimientos básicos de Arduino. en este curso dominaremos los canales analógicos y las señales PWM del Arduino, haremos uso de los timer e interrupciones. Así mismo realizaremos comunicación inalámbrica de nuestros proyectos mediante modulo bluetooth, lo cual nos permitirá tener el control desde nuestro celular. Los alumnos serán capaces de dominar dispositivos de entrada y salida como display’s lcd, teclados alfanuméricos, display 7 segmentos, configurar un sensor ultrasónico, y servomotor.
    </p>
    
    <h3>Materiales:</h3>
    <p>
        •	1 Arduino Uno R3 (Incluye cable USB) <br>
        •	1 Protoboard 830 <br>
        •	50 Cables para protoboard <br>
        •	10 Leds de 5mm <br>
        •	1 Leds RGB 5mm <br>
        •	13 Resistencias de 330 Ohm <br>
        •	4 Pulsadores con cubierta de 12mm <br>
        •	4 Resistencias de 10KOhm <br>
        •	1 Potenciometro 10kOhm <br>
        •	1 LCD 1602 Alfanumérico <br>
        •	1 Micro Servo SG90 <br>
        •	1 Sensor Ultrasonico HC-SR04 <br>
        •	1 Sensor de Temperatura LM35 <br>
        •	1 LDR 5528 <br>
        •	Modulo bluetooth HC05 <br>



    </p>


    
    <h3>Temario del curso:</h3>
    <ul>
        o	SEMANA 1: RECONOCIMIENTO DE MATERIALES. INSTALACIÓN DE ARDUINO IDE. USO DE SOFTWARE DE SIMULACIÓN PROTEUS. DISEÑO DE CIRCUITOS EN PROTEUS. IDENTIFICACIÓN DE MATERIALES. USO DE SALIDAS DIGITALES DE ARDUINO. PROYECTO: ACTIVACIÓN DE LUCES LED. <br>
        o	SEMANA 2: INTRODUCCIÓN A PROGRAMACIÓN ESTRUCTURADA. ESTRUCTURA DE UN PROGRAMA. BUCLES Y SENTENCIAS DE PROGRAMACIÓN. SENTENCIA IF ELSE. BUCLE FOR. BUCLE WHILE. COMPILACIÓN Y CARGA DE PROGRAMA. MULTIPLEXACIÓN. PRIMER PROGRAMA EN ARDUINO: MANEJO DE 8 LEDS CON BUCLE FOR. <br>
        o	SEMANA 3: RECONOCIMIENTO DE PUERTOS DE ARDUINO UNO. USO DE ENTRADAS Y SALIDAS DIGITALES. CONFIGURACIÓN DE PULSADORES (RETARDO, PULL UP, PULL DOWN). CONFIGURACIÓN DE DISPLAY LCD. ENVIO DE DATOS POR MONITOR SERIAL. PROYECTO: MOSTRAR MENSAJES EN DISPLAY LCD. <br>
        o	SEMANA 4: USO DE SEÑALES ANALÓGICAS. RESOLUCIÓN DE UNA SEÑAL ANÁLOGICA. LECTURA DE SEÑAL DE SENSOR MEDIANTE PUERTO ANALÓGICO DE ARDUINO. USO DE POTENCIOMETRO. USO DE OSCILOSCOPIO. TIMER E INTERRUPCIONES. PROYECTO: SENSAR TEMPERATURA Y MOSTRAR DISPLAY LCD CON LM35. <br>
        o	SEMANA 5: USO DE SEÑALES PWM. MODULACIÓN POR ANCHO DE PULSO. RESOLUCIÓN DE LA SEÑAL PWM. MANEJO Y PROGRAMACIÓN DE SEÑALES PWM. PROYECTO: CONTROL DE VELOCIDAD DE MOTOR MEDIANTE PWM. <br>
        o	SEMANA 6: USO DE TRANSISTOR. APLICACIÓN PARA CONTROL DE MOTOR DE DC. USO DE PUENTE H. APLICACIÓN PARA CONTROL DE GIRO Y VELOCIDAD DE MOTOR DC. <br>
        o	SEMANA 7: CONFIGURACIÓN DE SENSOR ULTRASONICO. USO DE SERVOMOTOR. PROYECTO: POSICIONAMIENTO ANGULAR DE SERVOMOTOR Y SENSADOR DE DISTANCIA MEDIANTE SENSOR ULTRASONICO. <br>
        o	SEMANA 8: GUARDAR DATOS DE MEMORIA EEPROM INTERNA, CONECTIVIDAD BLUETOOH. USO DE MODULO BLUETOOH. PROYECTO: CONTROL DE MOTOR MEDIANTE CELULAR VIA BLUETOOH. <br>



        <br>
        *Envío a domicilio en todo el Perú  

    </ul>
    <h4>Costo de curso: s/. 120 mensual</h4>
    <h4>Costo de materiales: s/. 110</h4>
    <h4>Costo de envío: s/. 15</h4>
     <a href="/cursos/inscripcion/MarvinRobot#registroCurso">Inscribirme ahora</a>
    <br>


<hr>
    <h2>Big Step +17</h2>
    <h4>Codigo del curso: MR0005ROB</h4>
    <h4>Duración del curso: 8 SEMANAS</h4>

    <h3>Descripción:</h3>
    <p>
        Da un gran paso al mundo digital con este nuevo curso. el curso está dirigido para jóvenes y adultos, este curso emplearemos los microcontroladores PIC (16f887) estos pequeños dispositivos, pero de gran potencia nos permitirán desarrollar aplicación a gran escala. el curso inicia con una introducción de los microcontroladores, y con una introducción del lenguaje de programación c. emplearemos los softwares PROTEUS + PIC C. este curso te permitirá dominar puertos digitales y analógicos del PIC, las señales PWM, programar en la memoria EPPROM, realizar conexión a módulos BLUETOOH, realizar proyectos IOT (internet de las cosas) mediante un módulo wifi. así también podrás realizar tu primer controlador robótico empleando un PID (controlador proporcional-integral-derivativo).        
    </p>
    
    <h3>Materiales:</h3>
    <p>
•	PICkit 2 Clone - Programador/debugger <br>
•	Protoboard 830  <br>
•	Microcontrolador PIC 16F887  <br>
•	Cable Dupont macho a macho 10cm / 20Und  <br>
•	NodeMCU v2 ESP8266 WiFi  <br>
•	Modulo bluetooth HC05  <br>
•	02 Display 07 segmentos <br>
•	Micro Servo SG90 1.5kg  <br>
•	Header 40 pines Macho  <br>
•	Header 40 pines Hembra  <br>
•	02 Trimpot con knob 10K Ohm <br>
•	Resistencia 330, 1k, 5k, 10k  <br>
•	04 Pulsador con cubierta  <br>
•	Cable para protoboard  <br>
•	Display Alfanumérico LCD 1602  <br>
•	Teclado matricial 4x4 - Tipo membrana <br>

ADICIONAL (NO INCLUIDO) <br>
•	Fuente de alimentación (cargador de celular de punto) <br>
•	Pistola Cautin (opcional) <br>
•	Multimetro (opcional) <br>




    </p>


    
    <h3>Temario del curso:</h3>
    <ul>
        o	SEMANA 1: RECONOCIMIENTO DE MATERIALES. INSTALACIÓN DE ARDUINO IDE. USO DE SOFTWARE DE SIMULACIÓN PROTEUS. DISEÑO DE CIRCUITOS EN PROTEUS. IDENTIFICACIÓN DE MATERIALES. USO DE SALIDAS DIGITALES DE ARDUINO. PROYECTO: ACTIVACIÓN DE LUCES LED. <br>
        o	SEMANA 2: INTRODUCCIÓN A PROGRAMACIÓN ESTRUCTURADA. ESTRUCTURA DE UN PROGRAMA. BUCLES Y SENTENCIAS DE PROGRAMACIÓN. SENTENCIA IF ELSE. BUCLE FOR. BUCLE WHILE. COMPILACIÓN Y CARGA DE PROGRAMA. MULTIPLEXACIÓN. PRIMER PROGRAMA EN ARDUINO: MANEJO DE 8 LEDS CON BUCLE FOR. <br>
        o	SEMANA 3: RECONOCIMIENTO DE PUERTOS DE ARDUINO UNO. USO DE ENTRADAS Y SALIDAS DIGITALES. CONFIGURACIÓN DE PULSADORES (RETARDO, PULL UP, PULL DOWN). CONFIGURACIÓN DE DISPLAY LCD. ENVIO DE DATOS POR MONITOR SERIAL. PROYECTO: MOSTRAR MENSAJES EN DISPLAY LCD. <br>
        o	SEMANA 4: USO DE SEÑALES ANALÓGICAS. RESOLUCIÓN DE UNA SEÑAL ANÁLOGICA. LECTURA DE SEÑAL DE SENSOR MEDIANTE PUERTO ANALÓGICO DE ARDUINO. USO DE POTENCIOMETRO. USO DE OSCILOSCOPIO. TIMER E INTERRUPCIONES. PROYECTO: SENSAR TEMPERATURA Y MOSTRAR DISPLAY LCD CON LM35. <br>
        o	SEMANA 5: USO DE SEÑALES PWM. MODULACIÓN POR ANCHO DE PULSO. RESOLUCIÓN DE LA SEÑAL PWM. MANEJO Y PROGRAMACIÓN DE SEÑALES PWM. PROYECTO: CONTROL DE VELOCIDAD DE MOTOR MEDIANTE PWM. <br>
        o	SEMANA 6: USO DE TRANSISTOR. APLICACIÓN PARA CONTROL DE MOTOR DE DC. USO DE PUENTE H. APLICACIÓN PARA CONTROL DE GIRO Y VELOCIDAD DE MOTOR DC. <br>
        o	SEMANA 7: CONFIGURACIÓN DE SENSOR ULTRASONICO. USO DE SERVOMOTOR. PROYECTO: POSICIONAMIENTO ANGULAR DE SERVOMOTOR Y SENSADOR DE DISTANCIA MEDIANTE SENSOR ULTRASONICO. <br>
        o	SEMANA 8: GUARDAR DATOS DE MEMORIA EEPROM INTERNA, CONECTIVIDAD BLUETOOH. USO DE MODULO BLUETOOH. PROYECTO: CONTROL DE MOTOR MEDIANTE CELULAR VIA BLUETOOH. <br>



        <br>
        *Envío a domicilio en todo el Perú  

    </ul>
    <h4>Costo de curso: s/. 150 mensual</h4>
    <h4>Costo de materiales: s/. 250</h4>
    <h4>Costo de envío: s/. 15</h4>
     <a href="/cursos/inscripcion/MarvinRobot#registroCurso">Inscribirme ahora</a>
    <br>


</div>
<hr>
<a href="/cursos/inscripcion/MarvinRobot"><i class="fa fa-chevron-left" aria-hidden="true"></i> Volver a Cursos</a></div>
</div>



<br>