<div class="p-4">
<div class="fondo">
    <div class="fondoMR">
    </div>
</div>
<hr>
<div class="temario curso-info">
    <h2>AUTODESK INVENTOR 1er NIVEL</h2>
    <h4>Codigo del curso: MR0001INVE </h4>
    <h4>Duración del curso: 4 SEMANAS</h4>
    
    <h3>Temario del curso:</h3>
    <ul>
        GENERACION DE PLANOS <br>
        CONFIGURACION: TAMAÑO DE HOJA Y SISTEMA DE PROYECCION <br>
        VISTAS – PRINCIPAL, ORTOGONAL, CORTE, AUXILIARES, DETALLES, SLICE <br>
        MODIFICACION DE LAS VISTAS <br>
        INSERCIÓN DE MARCAS DE CENTROS Y LINEAS DE EJES: MANUAL Y AUTOMATICO <br>
        DIMENSIONADO, CONFIGURACIÓN A MILIMETROS YPULGADOS <br>
        ESTILOS DE COTAS <br>
        ACOTADO AUTOMATICO Y EDICION DE COTAS DEL MODELO <br>
        UBICACIÓN DE CENTRO DE GRAVEDAD <br>
        TOLERANCIA DE DIMENSION <br>
        TOLERANCIA GEOMETRICA Y POSICION <br>
        ACABADO SUPERFICIAL <br>
        PLANOS DE ENSAMBLE <br>
        PRESENTACIONES <br>
        ARBOL DE ESPECIFICACIONES <br>
        CREAR VISTAS DE PRESENTACION <br>
        TRAYECTORIAS PARA EL DESPIECE <br>
        CAMARAS: VISTAS <br>
        ANIMAR PRESENTACIONES <br>
    </ul>
    <h4>Costo de materiales: s/. 0</h4>
    <h4>Costo de matrícula: s/. 0</h4>
    <h4>Costo de curso: s/. 100</h4> <a href="/users/payment">Inscribirme ahora</a>
    <br>
    <br>
    <br>
     <hr>
    <h2>AUTODESK INVENTOR 2do Nivel </h2>
    <h4>Codigo del curso: MR0002INVE</h4>
    <h4>Duración del curso: 4 SEMANAS</h4>
   
    <h3>Temario del curso:</h3>
    <ul>
        ECUACIONES <br>
        PARÁMETROS DE MODELO, USUARIO, IMPORTADOS Y RESERVADOS DEL SISTEMA <br>
        RELACIONANDO LAS DIMENSIONES ENTRE PARÁMETROS DE UNA PIEZA, DIFERENTES PIEZAS, PIEZA – ENSAMBLE Y CON HOJAS DE CÁLCULO DE EXCEL <br>
        FLUJO DE TRABAJO PARA LAS CONEXIONES CON EXCEL <br>
        REGLAS ILOGIC: ECUACIONES, SENTENCIA CONDICIONADAS, CONEXIÓN CON EXCEL, HERRAMIENTAS PARA CONTROL DE PIEZAS <br>
        CREACIÓN DE FORMULARIOS <br>
        ANIMACIÓN A PARTIR DE RESTRICCIONES DE ENSAMBLAJE <br>
        DEFINIR MOVIMIENTOS DE ROTACIÓN <br>
        DEFINIR MOVIMIENTOS LINEAL <br>
        COMBINACIÓN DE MOVIMIENTOS ROTACIÓN Y LINEAL A TRAVÉS DE ECUACIONES <br>
        RESTRICCIÓN DE MOVIMIENTOS <br>
        USAR RESTRICCIÓN TRANSICIONAL PARA MOVIMIENTOS <br>
        CONSTRUCCIÓN DE ALGUNOS MECANISMOS CON MOVIMIENTO <br>
        CONSTRUCCIÓN DE MECANISMOS USANDO LA FUNCIÓN SIGNO <br>
    </ul>
    <h4>Costo de materiales: s/. 0</h4>
    <h4>Costo de matrícula: s/. 0</h4>
    <h4>Costo de curso: s/. 120</h4> <a href="/users/payment">Inscribirme ahora</a>
    <br>
</div>
<hr>
<a href="/cursos/inscripcion/MarvinRobot"><i class="fa fa-chevron-left" aria-hidden="true"></i> Volver a Cursos</a></div>
</div>



<br>