<div class="p-4">
<div class="fondo">
    <div class="fondoMR">
    </div>
</div>
<div class="temario curso-info">
    <hr>
    <h2>Robótica Educativa con Arduino </h2>
    <h4>Codigo del curso: MR0001ARD</h4>
    <h4>Duración del curso: 4 SEMANAS</h4>
    <h3>Temario del curso:</h3>
    <ul>
         SESIÓN 1: <br> Conocer la plataforma Arduino y su entorno de programación • Introducción a Arduino • Arduino IDE • <br> Tipos de Datos • Operaciones • Monitor Serial <br>
        SESIÓN 2: <br> Comprender las nociones de la Electrónica Básica • Componentes Pasivos • Componentes Activos <br> • Uso del multímetro • Pruebas de los componentes <br>
        SESIÓN 3: <br> Aprender a configurar los puertos digitales, a leer o escribir señales digitales • Entradas y Salidas Digitales <br>
         • Retardos • Manejo de Pulsadores • Manejo de Infrarrojos • Manejo de LEDs • Manejo de Relé <br>
        SESIÓN 4: <br> Aprender a configurar la lectura de señales analógicas • Entradas Analógicas • Manejo de LDR <br> • Manejo de Temperatura y Humedad • Manejo de Ultrasonidos <br>
       

    </ul>
    <h4>Costo de materiales: s/. 0</h4>
    <h4>Costo de matrícula: s/. 0</h4>
    <h4>Costo de curso: s/. 80</h4> <a href="/cursos/inscripcion/MarvinRobot#registroCurso">Inscribirme ahora</a>
    <br>
    <br>
    <br>
    <hr>
    <h2>Robótica Educativa con Arduino 2 </h2>
    <h4>Codigo del curso: MR0002ARD</h4>
    <h4>Duración del curso: 4 SEMANAS</h4>
    <h3>Temario del curso:</h3>
    <ul>
        SESIÓN 5: <br> Aprender las instrucciones para toma de decisiones e instrucciones de flujo repetitivo • Operadores de Comparación <br> • Control de Flujo • Estructuras Repetitivas • Ejemplos aplicativos <br>
        SESIÓN 6: <br> Comprender la Modulación por Ancho de Pulso • Modulación por Ancho de Pulso • Manejo de Motores DC <br> • Manejo de Servomotores <br>
        SESIÓN 7: <br> Aprender a configurar y programar los dispositivos de visualización • Dispositivos de Visualización <br> • Manejo de LCD <br>
        SESIÓN 8: <br> Aprender a integrar sensores y actuadores en un proyecto <br> • Crea tu Robot Móvil • Construcción y programación del Proyecto <br>
    </ul>
    <h4>Costo de materiales: s/. 0</h4>
    <h4>Costo de matrícula: s/. 0</h4>
    <h4>Costo de curso: s/. 120</h4> <a href="/cursos/inscripcion/MarvinRobot#registroCurso">Inscribirme ahora</a>
    <br>
</div>
<hr>
<a href="/cursos/inscripcion/MarvinRobot"><i class="fa fa-chevron-left" aria-hidden="true"></i> Volver a Cursos</a></div>
</div>



<br>