<div class="p-4">
<div class="fondo">
    <div class="fondoMR">
    </div>
</div>
<div class="temario curso-info">
    <hr>
    <h2>Programación de Microcontroladores con PIC C 1er Nivel </h2>
    <h4>Codigo del curso: MR0001PICC</h4>
    <h4>Duración del curso: 4 SEMANAS</h4>
    <h3>Temario del curso:</h3>
    <ul>
        INTRODUCCIÓN - PIC C COMPILER <br>
        USO DE PROTEUS 8 <br>
        PRIMER HOLA MUNDO: ENCENDER Y APAGAR UN LED <br>
        USO DE DELAY CON PIC <br>
        TIPOS DE CLOCK (INTERNO, CRISTAL) <br>
        LABORATORIO 1: SECUENCIA DE LEDs <br>
        DISPLAY 7 SEGMENTOS CON PIC <br>
        MOTOR PASO A PASO – UNIPOLAR Y BIPOLAR <br>
        MULTIPLEXACION <br>
        INTERRUPCIONES – INTERNAS Y EXTERNAS <br>
        LABORATORIO 2: TECLADO MATRICIAL CON PIC <br>
        CONTROL DE DISPLAY LCD <br>
    </ul>
    <h4>Costo de materiales: s/. 0</h4>
    <h4>Costo de matrícula: s/. 0</h4>
    <h4>Costo de curso: s/. 80</h4> <a href="/cursos/inscripcion/MarvinRobot#registroCurso">Inscribirme ahora</a>
    <br>
    <br>
    <br>
    <hr>
    <h2>Programación de Microcontroladores con PIC C 2do Nivel </h2>
    <h4>Codigo del curso: MR0002PICC</h4>
    <h4>Duración del curso: 4 SEMANAS</h4>
    <h3>Temario del curso:</h3>
    <ul>
        GUARDAR EN MEMORIA EEPROM <br>
        CONVERSOR ANALOGO DIGITAL ADC <br>
        MODULACION POR ANCHO DE PULSO <br>
        COMUNICACIÓN SERIAL <br>
        UART POR SOFTWARE <br>
        SERVOMOTORES <br>
        RADIO FRECUENCIA PIC <br>
        I2C CONECTAR LCD – PIC <br>
        USB – PIC <br>
        IOT - MODULO WIFI <br>
        DISEÑO DE CIRCUITO - ISIS <br>
        IMPRESIÓN DE CIRCUITOS EN BAQUELITA <br>
    </ul>
    <h4>Costo de materiales: s/. 0</h4>
    <h4>Costo de matrícula: s/. 0</h4>
    <h4>Costo de curso: s/. 120</h4> <a href="/cursos/inscripcion/MarvinRobot#registroCurso">Inscribirme ahora</a>
    <br>
</div>
<hr>
<a href="/cursos/inscripcion/MarvinRobot"><i class="fa fa-chevron-left" aria-hidden="true"></i> Volver a Cursos</a></div>
</div>



<br>