<div class="p-4">
<div class="fondo">
    <div class="fondoMR">
    </div>
</div>
<hr>
<div class="temario curso-info">
    <h2>DIBUJO MECÁNICO EN SOLIDWORKS 1er NIVEL</h2>
    <h4>Codigo del curso: MR0001SLDW </h4>
    <h4>Duración del curso: 4 SEMANAS</h4>
    
    <h3>Temario del curso:</h3>
    <ul>
        NAVEGACIÓN POR LA INTERFAZ DE SOLIDWORKS <br>
        TRABAJO CON SKETCHES <br>
        CREACION DE PIEZAS SIMPLES Y DIBUJOS <br>
        USO DE TÉCNICAS DE VISUALIZACIÓN <br>
        CONSTRUCCIÓN DE PIEZAS INTELIGENTES <br>
        OPTIMIZACION DE SKETCHES <br>
        MODELADO CON LAS CARACTERISTICAS PRIMARIAS <br>
        SELECCIÓN DE CARACTERISTICAS SECUNDARIAS <br>
        EL DIBUJO Y LA CREACIÓN DE REFLEJOS <br>
        USO DE LAS ECUACIONES <br>

    </ul>
    <h4>Costo de materiales: s/. 0</h4>
    <h4>Costo de matrícula: s/. 0</h4>
    <h4>Costo de curso: s/. 100</h4> <a href="/users/payment">Inscribirme ahora</a>
    <br>
    <br>
    <br>
     <hr>
    <h2>DIBUJO MECÁNICO EN SOLIDWORKS 2do Nivel </h2>
    <h4>Codigo del curso: MR0002SLDW</h4>
    <h4>Duración del curso: 4 SEMANAS</h4>
   
    <h3>Temario del curso:</h3>
    <ul>
        CONSTRUCCIÓN DE ENSAMBLES EFICIENTES <br>
        OPTIMIZACION DE ENSAMBLES <br>
        PATRONES CREACIÓN DE SIMETRÍAS <br>
        HERRAMIENTAS DE MONTAJE <br>
        CONFIGURACIONES DED MONTAJE DE CONTROL Y ESTADOS DE VISUALIZACIÓN <br>
        MODELADO EN CONTEXTO <br>
        AUTOMATIZACIÓN DE DIBUJOS <br>
        VISTAS DE DIBUJO <br>
        USO DE SIMBOLOS Y ANOTACIONES <br>
        DIMENSIONAMIENTO Y TOLERANCIAS <br>
        CAPAS, AJUSTE DE FUENTE DE LINEAS Y COLORES <br>
        TABLAS Y DIBUJOS <br>
        DIAGRAMAS DE ENSAMBLAJE <br>


    </ul>
    <h4>Costo de materiales: s/. 0</h4>
    <h4>Costo de matrícula: s/. 0</h4>
    <h4>Costo de curso: s/. 120</h4> <a href="/users/payment">Inscribirme ahora</a>
    <br>
</div>
<hr>
<a href="/cursos/inscripcion/MarvinRobot"><i class="fa fa-chevron-left" aria-hidden="true"></i> Volver a Cursos</a></div>
</div>



<br>