<div class="p-4">
<div class="fondo">
    <div class="fondoMR">
    </div>
</div>
<hr>
<div class="temario curso-info">
    <h2>AUTOCAD 1er NIVEL</h2>
    <h4>Codigo del curso: MR0001AUTO </h4>
    <h4>Duración del curso: 4 SEMANAS</h4>
    
    <h3>Temario del curso:</h3>
    <ul>
        
        Entorno de trabajo Unidades de medida y sistema de coordenadas <br>
        Iniciando AutoCAD <br>
        Descripción de las partes principales de la pantalla <br>
        Creación de espacios de trabajo <br>
        Variable del sistema CURSORSIZE <br>
        Administración de Archivos de dibujo *.dwg <br>
        Guardar el archivo de trabajo <br>
        Abrir un archivo existente <br>
        Abrir un nuevo archivo de trabajo <br>
        Ajuste de la rejilla comando GRID <br>
        Límites de visualización comando LIMITS <br>
        Uso del panel de propiedades (Color y grosor de línea) <br>
        Mostrar grosores de línea modo LWT <br>
        Dibujo de líneas comando LINE <br>
        Desplazamiento de la vista en el plano de la pantalla comando PAN <br>
        Cambiar la ampliación de un dibujo comando ZOOM <br>
        Selección de objetos Comando SELECT <br>
        Copiar propiedades de objetos comando MATCHPROP <br>
        Remover objetos comando ERASE <br>
        Limitar el movimiento del cursor comando SNAP <br>
        Determinación de las unidades de medida comando UNITS <br>
        Especificación de coordenadas cartesianas y polares <br>
        Restringir el movimiento del cursor comando ORTHO <br>
        Rastreo polar herramienta POLAR <br>
        Entrada dinámica herramienta DYN <br>
<br>
        Referencia a objetos, dibujar objetos <br>
        Recortar objetos comando TRIM <br>
        Alargar objetos comando EXTEND <br>
        Dibujar círculos comando CIRCLE <br>
        Referencia a objetos comando OSNAP <br>
        Mostrar coordenadas comando ID <br>
        Medir distancia y ángulo comando DIST <br>
        Rastreo de referencia a objetos OTRACK <br>
        Parámetros del comando CIRCLE <br>
        Dibujar arcos comando ARC <br>
        Dibujar arandelas comando DONUT <br>
        Controlar el relleno de los objetos comando FILL <br>
        Regenerar objetos comando REGEN <br>
        Dibujar rectángulos comando RECTANG <br>
        Dibujar polígonos comando POLYGON <br>
        Dibujar elipses comando ELLIPSE <br>


    </ul>
    <h4>Costo de materiales: s/. 0</h4>
    <h4>Costo de matrícula: s/. 0</h4>
    <h4>Costo de curso: s/. 120</h4> <a href="/users/payment">Inscribirme ahora</a>
    <br>
    <br>
    <br>
     <hr>
    <h2>AUTOCAD 2do Nivel </h2>
    <h4>Codigo del curso: MR0002AUTO</h4>
    <h4>Duración del curso: 4 SEMANAS</h4>
   
    <h3>Temario del curso:</h3>
    <ul>
        
        Edición de Objetos <br>
        Copiar objetos Comando COPY <br>
        Mover objetos Comando MOVE <br>
        Desfase de objetos comando OFFSET <br>
        Copia simétrica comando MIRROR <br>
        Redondear y empalmar objetos comando FILLET <br>
        Aplicar bisel a los objetos comando CHAMFER <br>
        Cambiar la longitud de los objetos comando LENGTHEN <br>
        Dividir objetos entre dos puntos comando BREAK <br>
        Unir objetos comando JOIN <br>
        Dividir objetos compuestos comando EXPLODE <br>
        Rotación de objetos comando ROTATE <br>
        Ampliar o reducir el tamaño de los objetos comando SCALE <br>
        Estirar objetos comando STRETCH <br>
        Alineación de objetos comando ALIGN <br>
        Creación de una matriz de objetos comando ARRAY (Rectangular y Polar) <br>
        Edición de matrices de objetos comando ARRAYEDIT <br>
<br>
        Sombreado, textos, arreglos de objetos y capas <br>
        Aplicar sombreado y relleno a los objetos comando HATCH <br>
        Editar sombreados o rellenos comando HATCHEDIT <br>
        Crear objetos de texto en línea múltiple comando MTEXT <br>
        Crear objetos de texto en una línea comando TEXT <br>
        Crear estilos de texto comando STYLE <br>
        Manejador de capas comando LAYER <br>
        Ocultar o bloquear capas comando LAYISO <br>
        Escala de los tipos de línea comando LTSCALE <br>
        Establecer grosores de línea actual comando LWEIGHT <br>

    </ul>
    <h4>Costo de materiales: s/. 0</h4>
    <h4>Costo de matrícula: s/. 0</h4>
    <h4>Costo de curso: s/. 100</h4> <a href="/cursos/inscripcion/MarvinRobot#registroCurso">Inscribirme ahora</a>
    <br>
    <br>
    <br>
    <hr>
    <h2>AUTOCAD 3er Nivel </h2>
    <h4>Codigo del curso: MR0002AUTO</h4>
    <h4>Duración del curso: 4 SEMANAS</h4>
   
    <h3>Temario del curso:</h3>
    <ul>
        
        Acotado y estilos de dimensionado <br>
        Crear estilo de dimensionado comando DIMSTYLE <br>
        Ficha líneas <br>
        Ficha símbolos y flechas <br>
        Ficha texto <br>
        Ficha ajustar <br>
        Ficha unidades principales <br>
        Ficha unidades alternativas <br>
        Ficha tolerancias <br>
        Dimensionamiento Lineal, Alineado, Continuo y de Línea Base <br>
        Dimensionamiento Angular <br>
        Dimensionamiento Radial, Diametral, Longitud de Arco, Jogged y Directrices <br>
        Variables de dimensionado <br>
        <br>
        Configuración de página y ploteo manejo de escalas <br>
        Administrador de trazadores <br>
        Trazar un dibujo Comando PLOT <br>
        Crear fichas de presentación comando LAYOUT <br>
        Crear ventanas graficas comando VPORTS <br>
        Especificar configuraciones comando PAGESETUP <br>
        Cambiar la forma ventana gráfica comando VPCLIP <br>
        Controlar la forma ventana gráfica comando MVIEW <br>

        

    </ul>
    <h4>Costo de materiales: s/. 0</h4>
    <h4>Costo de matrícula: s/. 0</h4>
    <h4>Costo de curso: s/. 80</h4> <a href="/cursos/inscripcion/MarvinRobot#registroCurso">Inscribirme ahora</a>
    <br>
</div>
<hr>
<a href="/cursos/inscripcion/MarvinRobot"><i class="fa fa-chevron-left" aria-hidden="true"></i> Volver a Cursos</a></div>
</div>



<br>