<div class="p-4">
<div class="fondo">
    <div class="fondoMR">
    </div>
</div>
<div class="temario curso-info">
    <hr>
    <h2>Robótica Kids 9-13 años</h2>
    <h4>Codigo del curso: MR0001ROB</h4>
    <h4>Duración del curso: 8 SEMANAS</h4>
    <h3>Temario del curso:</h3>
    <ul>
         Reconocer componentes electrónicos <br>
         Leds, resistencias, transistores <br>
         Domina el lenguaje de programación de Arduino <br>
         Crea tu primer programa (codigo Arduino) <br>
         Crea proyectos electrónicos con nuestro Kit de Robótica: <br>
        Luces de semáforo <br>
        Auto fantástico <br>
        Tu reloj digital <br>
        Letrero luminoso <br>
        Termómetro inteligente <br>
        Mi primer ROBOT móvil <br>
        Controla tus proyectos desde internet <br>

        <br>
        *Envío de KIT de Robótica a todo el Perú 
    </ul>
    <h4>Costo de materiales: s/. 50</h4>
    <h4>Costo de matrícula: s/. 0</h4>
    <h4>Costo de curso: s/. 100 mensual</h4> <a href="/cursos/inscripcion/MarvinRobot#registroCurso">Inscribirme ahora</a>
    <br>
    <br>
    <br>
    <hr>
    <h2>Robótica Teens +14</h2>
    <h4>Codigo del curso: MR0002ROB</h4>
    <h4>Duración del curso: 8 SEMANAS</h4>
    <h3>Temario del curso:</h3>
    <ul>
        Uso de display LCD, teclados, motor, sensores de proximidad, luz, temperatura <br>
        Conceptos básicos de programación <br>
        Envío de datos desde computador a arduino <br>
        Diseño de placas elétronicas <br>
        Crea proyectos electrónicos con nuestro Kit de Robótica: <br>
        Mensajes en display LCD <br>
        Contraseña de acceso por teclado <br>
        Control de motores <br>
        Contador numérico <br>
        Medición de temperatura <br>
        Crea un robot seguidor de líneas <br>
        Controla tus proyectos por internet desde el celular <br>

        <br>
        *Envío de KIT de Robótica a todo el Perú 

    </ul>
    <h4>Costo de materiales: s/. 80</h4>
    <h4>Costo de matrícula: s/. 0</h4>
    <h4>Costo de curso: s/. 100 mensual</h4> <a href="/cursos/inscripcion/MarvinRobot#registroCurso">Inscribirme ahora</a>
    <br>
</div>
<hr>
<a href="/cursos/inscripcion/MarvinRobot"><i class="fa fa-chevron-left" aria-hidden="true"></i> Volver a Cursos</a></div>
</div>



<br>