<div class="p-4">
<div class="fondo">
    <div class="fondoMR">
    </div>
</div>
<hr>
<div class="temario curso-info">
    <h2>TEKLA STRUCTURE 1er NIVEL</h2>
    <h4>Codigo del curso: MR0001TEKL </h4>
    <h4>Duración del curso: 4 SEMANAS</h4>
    
    <h3>Temario del curso:</h3>
    <ul>
        Introducción Descarga e instalación del programa Tekla <br>
        Crear nuevo modelo <br>
        Aspectos generales <br> 
        Primeros pasos <br>
        Configuración de la malla <br>
        Vistas del trabajo <br>
        Propiedades de las vistas <br>
        Plano de trabajo <br>
        Importar Inventor - Tekla
        Navisworks

    </ul>
    <h4>Costo de materiales: s/. 0</h4>
    <h4>Costo de matrícula: s/. 0</h4>
    <h4>Costo de curso: s/. 100</h4> <a href="/cursos/inscripcion/MarvinRobot#registroCurso">Inscribirme ahora</a>
    <br>
    <br>
    <br>
     <hr>
    <h2>TEKLA STRUCTURE 2do Nivel </h2>
    <h4>Codigo del curso: MR0002TEKL</h4>
    <h4>Duración del curso: 6 SEMANAS</h4>
   
    <h3>Temario del curso:</h3>
    <ul>
        Acero <br>
        Barra de herramientas de acero  <br>
        Mover, copiar y rotar Adaptación y cortes <br>
        Mini barra de herramientas <br>
        Tornillos <br>
        Filtro de selección y de vista <br>
        Puntos y líneas de referencia <br>
        Conjuntos y partes <br>
        Control de choques <br>
        Base de datos de perfiles <br>
        Gestión de fases <br>
        Representación de vistas <br>

        Hormigón <br>
        Barra de herramientas de hormigón <br>
        Losas, zapatas, riostras y pilares <br>
        Adaptaciones y cortes <br>
        Colada <br>
        Armadura <br>

        Uniones <br>
        Componentes más comunes <br>
        Componentes personalizados <br>

        Ribbon <br>

        Creación de una estructura de acero paso a paso <br>

        Numeración. Generación de planos. Exportación. <br>
        Numeración Creación de informes <br>
        Planos de parte, de conjuntos y generales <br>
        Exportación de planos a DWG y PDF <br>
        Exportar e importar IFC <br>
        Publicar Bimsight <br>

    </ul>
    <h4>Costo de materiales: s/. 0</h4>
    <h4>Costo de matrícula: s/. 0</h4>
    <h4>Costo de curso: s/. 200</h4> <a href="/cursos/inscripcion/MarvinRobot#registroCurso">Inscribirme ahora</a>
    <br>
</div>
<hr>
<a href="/cursos/inscripcion/MarvinRobot"><i class="fa fa-chevron-left" aria-hidden="true"></i> Volver a Cursos</a></div>
</div>



<br>