 <div class="p-4">  <h1> Hola,</h1> <h3>  {{newInscription.nombreinscr}}</h3>  <a href="/cursos/inscripcion/MarvinRobot"><i class="fa fa-chevron-left" aria-hidden="true"></i> Volver a Cursos</a></div>
<hr>
  <div > <section class="contenido-header successtranslate ">
                <section class="textos-header">
                      
                    <h2>Inscripción realizada</h2>
                    <p>
                        <i class="fa fa-hand-o-right inscriptionIcon" aria-hidden="true"></i> Te inscribiste al curso {{newInscription.nombre}}<br>
                        <i class="fa fa-hand-o-right inscriptionIcon" aria-hidden="true"></i> El curso inicia el viernes 18 de diciembre<br>
                        <i class="fa fa-hand-o-right inscriptionIcon" aria-hidden="true"></i> El precio del curso es GRATUITO<br>                        
                        <i class="fa fa-hand-o-right inscriptionIcon" aria-hidden="true"></i> Información del curso será enviada a {{newInscription.emailinscr}} <br>
                    </p>
                    
    </section>
 </div>    

<div>
<section class="fondo2"> 
</section>

</div>

<section class="social">
    
        <div class="linksMR">
            <a href="https://instagram.com/robotmarvin_tec?igshid=w76nm12om7ay" target="_blank">
                <i class="fa fa-instagram" aria-hidden="true"></i>
            </a>
            <a href="https://www.facebook.com/Marvin-ROBOT-110375053832149" target="_blank">
                <i class="fa fa-facebook-square" aria-hidden="true"></i>
            </a>
            
            
            <a href="https://www.youtube.com/channel/UCe5uCF4MKqd0eY04YtcCjhA" target="_blank">
                <i class="fa fa-youtube" aria-hidden="true"></i>
            </a>
        </div>
</section>

<br>


<a href="https://api.whatsapp.com/send?phone=51990012243" class="btn-wsp" target="blank"><i class="fa fa-whatsapp" aria-hidden="true"></i>
</a>
