 <div class="p-4">  <h1> Hola,</h1> <h3>  {{newInscription.nombreinscr}}</h3>  <hr></div>

  <div > 
    <section class="contenido-header successtranslate inscriptionVolver">
        <section class="textos-header inscriptionlink">
                
            <h2>Tu inscripción ha sido realizada satisfactoriamente</h2>
            <p>
                <i class="fa fa-hand-o-right inscriptionIcon" aria-hidden="true"></i> Te inscribiste al curso {{newInscription.nombre}}<br>
                <i class="fa fa-hand-o-right inscriptionIcon" aria-hidden="true"></i> La información del curso será enviada a {{newInscription.emailinscr}} <br>
                <i class="fa fa-hand-o-right inscriptionIcon" aria-hidden="true"></i> Si ingresaste un cupón te enviaremos el link de acceso a la clase vía email o al Whatsapp {{newInscription.contacto}}<br>                        
                <p> <i class="fa fa-info-circle" aria-hidden="true"></i> Si el curso tiene un costo <a href="/payment#pagos">realiza el pago </a> y envía el voucher a nuestro Whatsapp</p><br>
            </p>
                    
        </section>
    </section>
    <div class=" p-4">
        <a href="/cursos/inscripcion/MarvinRobot"><i class="fa fa-chevron-left" aria-hidden="true"></i> Volver a Cursos</a>
    </div>
 </div>    
 


<div class="mfondo2">
<section class="fondo2"> 
</section>

</div>

<section class="social">
    
        <div class="linksMR">
            <a href="https://instagram.com/robotmarvin_tec?igshid=w76nm12om7ay" target="_blank">
                <i class="fa fa-instagram" aria-hidden="true"></i>
            </a>
            <a href="https://www.facebook.com/Marvin-ROBOT-110375053832149" target="_blank">
                <i class="fa fa-facebook-square" aria-hidden="true"></i>
            </a>
            
            
            <a href="https://www.youtube.com/channel/UCe5uCF4MKqd0eY04YtcCjhA" target="_blank">
                <i class="fa fa-youtube" aria-hidden="true"></i>
            </a>
        </div>
</section>

<br>


<a href="https://api.whatsapp.com/send?phone=51990012243" class="btn-wsp" target="blank"><i class="fa fa-whatsapp" aria-hidden="true"></i>
</a>
