
    <section class="store-text">
            <h4> <i class="fa fa-shopping-cart" aria-hidden="true"></i> 50% DESCUENTO </h4>
            <p>MES DE DICIEMBRE</p>
            <a href="/cursos/add" >Abrir un curso</a>
        </section>



<section class="store">
    <h4>WOOM OFRECE TUTORES ESPECIALIZADOS PARA MEJORAR TU APRENDIZAJE  :</h4>
    <p>* El precio de la clase es en base a 1 hora pedagógica</p>
    <div class="contenedor-1 conten-store">
        <section class="productos">
                <div class="producto">
                    <h4>PLAN CLASE PARTICULAR</h4>
                    <p>Nuestros Tutores especializados están capacitados para ayudarte con las materias que se te dificulten. Solicita una clase particular </p>
                    <h4> S/20 </h4>
                    <a href=""><i class="fa fa-cart-plus" aria-hidden="true"></i> Agregar al carrito</a>
                </div>
                <div class="producto">
                    <h4>PLAN SEMANAL</h4>
                    <p>Solicita 3 clases durante la semana con un tutor especializado, para esa semana de exámenes del colegio o la universidad </p>
                    <h4> S/50 </h4>
                    <a href=""><i class="fa fa-cart-plus" aria-hidden="true"></i> Agregar al carrito</a>
                </div>
                <div class="producto">
                    <h4>PLAN MENSUAL</h4>
                    <p>Asegura tu promedio contando con la asesoría especializada de nuestros tutores. 2 clases por semana durante 4 semanas para entender todo</p>
                    <h4> S/150 </h4>
                    <a href=""><i class="fa fa-cart-plus" aria-hidden="true"></i> Agregar al carrito</a>
                </div>
                <div class="producto">
                    <h4>PLAN DUO</h4>
                    <p>Solicita una clase junto a un amigo sobre la misma materia y logren una buena preparación</p>
                    <h4> S/30 </h4>
                    <a href=""><i class="fa fa-cart-plus" aria-hidden="true"></i> Agregar al carrito</a>
                </div>
                <div class="producto">
                    <h4>PLAN PATAS</h4>
                    <p>Planifica una clase grupal, reúnete con 5 amigos o más y aclara tus dudas con nuestros tutores especializados.</p>
                    <h4> S/5 </h4>
                    <a href=""><i class="fa fa-cart-plus" aria-hidden="true"></i> Agregar al carrito</a>
                </div>
                
        </section>
    </div>
</section>

<section class="store">
    <h4>WOOM TE OFRECE UN PLAN PARA RESOLUCIÓN DE EJERCICIOS:</h4>
    <div class="contenedor-1 conten-store">
        <section class="productos">
                <div class="producto">
                    <h4>NIVEL PRIMARIA</h4>
                    <p>Si te encuentras en el Colegio cursando la Primaria puedes solicitar la resolución de tus ejercicios. Dale en agregar al carrito según la cantidad de tus ejercicios</p>
                    <h4> S/1 </h4>
                    <a href=""><i class="fa fa-cart-plus" aria-hidden="true"></i> Agregar al carrito</a>
                </div>
                <div class="producto">
                    <h4>NIVEL SECUNDARIA</h4>
                    <p>Si el nivel en que te encuentra es en la Secundaria puedes solicitar la resolución de tus ejercicios. Dale en agregar al carrito según la cantidad de tus ejercicios</p>
                    <h4> S/2 </h4>
                    <a href=""><i class="fa fa-cart-plus" aria-hidden="true"></i> Agregar al carrito</a>
                </div>
                <div class="producto">
                    <h4>NIVEL UNIVERSITARIO</h4>
                    <p>Si estás en cualquier ciclo de la Universidad puedes solicitar la resolución de tus ejercicios. Dale en agregar al carrito según la cantidad de tus ejercicios</p>
                    <h4> S/4 </h4>
                    <a href=""><i class="fa fa-cart-plus" aria-hidden="true"></i> Agregar al carrito</a>
                </div>
                
               
        </section>
    </div>
</section>

<div class="main-contenedor main-contenedor1 main-carrito">
    <section class="contenido-header">
        <section class="textos-header textos-header1">
            <h1>Concreta tu compra</h1>
            <p>Puedes hacer uso de Yape, Lukita, o Plin para hacer tus pagos. Para otro medio de pago ingresa al botón de Whatsapp para mas información</p>
            <a href="/payment#pagos">Ir al carrito</a>
        </section>
    </section>
</div>