
<div class="main-contenedor signinContenedor ">

    <section class="contenido-header ">
                <section class="textos-header">
                    <h1>Accede a</h1><h1>Woom</h1>
                    <p>
                        <i class="fa fa-hand-o-right signinicon" aria-hidden="true"></i> Somos la primera red académica del País <br>
                        <i class="fa fa-hand-o-right signinicon" aria-hidden="true"></i> Contamos con una plataforma innovadora <br>
                        <i class="fa fa-hand-o-right signinicon" aria-hidden="true"></i> Precios accesibles y acorde al mercado <br>
                        <i class="fa fa-hand-o-right signinicon" aria-hidden="true"></i> Deja tus tareas en buenas manos<br> 
                    </p>
                </section>
        
            <div class="col-md-5 siginform p-4">
            
                <div class="card cardh">
                    <div class="card-header ">
                        Iniciar Session
                    </div>
                    
                    <div class="card-body ">
                        <form action="/users/signin" method="POST">
                            <div class="form-group">
                                <input type="email" class="form-control" name="email" placeholder="Email" value="{{email}}" required>
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" name="password" placeholder="Password" value="{{password}}" required>
                            </div>
                            <button class="btn btn-primary btn-block fa-css">
                                Ingresar
                            </button>
                            <hr>
                            <div class="form-group cssPassword">
                                <a href="/users/signup">Registrarme</a>
                            </div>
                            
                              <div class="form-group cssPassword">
                                   <a href="https://api.whatsapp.com/send?phone=51990012243"> Envía un mensaje para recuperar tu contraseña
                                </a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>     
         
    </section>
    <br>
<br>
<br>
<br>
<br>
<br>
</div>




<a href="https://api.whatsapp.com/send?phone=51990012243" class="btn-wsp" target="blank"><i class="fa fa-whatsapp" aria-hidden="true"></i>
</a>













        {{!-- <div class="col-md-5 p-5 float-center text-center ">

            <div class="row ">
                
                <div class=" card social-block cardh ">
                    <div class="card-header">
                        - o - 
                    </div><br>
                    <h2>Ingresa con Facebook</h2>
                    <div class="card-body"> 
                        <a  class="btn  btn-block fa fa-facebook fa-css " href="/users/fbSignin" role="button">
                            
                        </a>    
                    </div>
                </div>
            </div>  
        </div> --}}
 

